<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="stylesheet" type="text/css" href="../src/css/main_landing.css">
<dom-module id="banner-element">
	<template>
	<section id="banner">
	<div class="inner">
	<h2><div style="margin-left: 45px;">Bid<img src="../../images/logo.png" width="40%" height="40%" style="margin-bottom: -20px;"><br><div style="margin-top: -10px;">Father</div></div></h2>
	<p>Your Reverse Auction<br />
		Platform<br />
		powered by <a href="https://www.interintel.co.ke/">InterIntel Technologies</a>.</p>
	<ul class="actions">
	<li><a href="#" class="button special">Login</a></li>
	</ul>
	</div>
	<a href="#read" class="more scrolly">Learn More</a>
	</section>	

	</template>

</dom-module>
<script>
	Polymer ({
		is: "banner-element"
	})
</script>