<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="chart-element">
    <style>
        :host {
            background: transparent;
            border: 0;
            padding: 0;
            font-size: inherit;
        }

        #google_chart {
            width: 100%;
            min-width: 300px;
        }

        /* Desktop */
        @media screen and (min-width: 992px) {
            #google_chart {
                width: 100%;
                max-width: 1024px;
            }

        }

        @media only screen and (min-width: 320px) {
            #google_chart {
                width: 100%;
            / / max-width: 900 px;
            }
        }


    </style>
    <template>
        <google-chart type='column' id="google_chart">
        </google-chart>
    </template>
</dom-module>
<script>
    Polymer({
        is: "chart-element",
        properties: {
            title: String,
        },
        ready: function () {
            var media = window.matchMedia('(min-width: 992px)') || window.matchMedia('(min-width: 320px)');
            var chart = this.$.google_chart
            media.addListener(function () {
                chart.drawChart();
            });

            var cols = [{"label": "Timeline", "type": "date"}, {
                "label": "Coffee Grading & Sorting",
                "type": "number"
            }, {"label": "Coffee Hulling", "type": "number"}, {"label": "Coffee Polishing", "type": "number"}]
            var rows = [["2015-02-13", 1, null, null], ["2015-02-14", 1, null, null], ["2015-02-15", 1, null, null], ["2015-02-16", 2, null, null], ["2015-02-13", null, 1, null], ["2015-02-14", null, 2, null], ["2015-02-15", null, 3, null], ["2015-02-25", null, 32, null], ["2015-02-26", null, 19, null], ["2015-02-13", null, null, 2], ["2015-02-14", null, null, 1], ["2015-02-15", null, null, 1], ["2015-02-26", null, null, 1]];

            var c = 0;
            for (var c0 in cols) {
                for (var r0 in rows) {
                    if (cols[c0].type == "date") {
                        rows[r0][c] = new Date(rows[r0][c]);
                    }
                }
                c++;
            }

            this.$.google_chart.cols = cols;
            this.$.google_chart.rows = rows;


        },

    });
</script>

