<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<link rel="import" href="../post-ajax/post-ajax.html">

<dom-module id="checkbox-element">
    <style>
        :host {
        }
    </style>

    <template>
        <paper-item>
            <iron-icon icon="[[icon]]" prefix></iron-icon>
            [[title]]
        </paper-item>
        <div>
            <template is="dom-repeat" items="[[rows]]" as="data">
                <paper-item>
                    <paper-checkbox name="[[data.0]]">[[data.1]]</paper-checkbox>
                </paper-item>
            </template>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'checkbox-element',
        properties: {
            icon: String,
            data_name: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
            rows: {value: []},
            params: Object,
        },
        ready: function () {
            this.customStyle['--primary-text-color'] = this.color;
            this.customStyle['--default-primary-color'] = this.color;
            this.updateStyles();

            this.data = [];
            this.groups = [];
            this.params['data_name'] = this.data_name;

            var target = this;

            var post_ajax = document.createElement("post-ajax");
            post_ajax.protocol = this.protocol;
            post_ajax.hostname = this.hostname;
            post_ajax.channel = this.channel;
            post_ajax.service = this.service;
            post_ajax.params = this.params;
            post_ajax.channel = this.channel;
            post_ajax.postready = true;
            post_ajax.addEventListener("response-ready", function (e) {
                var payload = e.detail.response;
                console.log("Posts Loaded Started: " + JSON.stringify(payload));
                target.cols = payload.response.data_source.cols;
                target.rows = payload.response.data_source.rows;
                target.groups = payload.response.data_source.groups;
                target.currentGroups = target.groups;
                target.data = payload.response.data_source.data;
                target.currentData = target.data;

            });

        },
        jsonify: function (object) {
            return JSON.stringify(object)
        },
    });
</script>


