<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<link rel="import" href="../post-ajax/post-ajax.html">

<dom-module id="collapsible-element">
    <template>
        <style>
            :host {
                width: 100%;
                /*@apply(--layout-fit);

                @apply(--layout-vertical);*/
                @apply(--paper-font-common-base);
                background-color: var(--paper-grey-200, #eee);
            }

            paper-toolbar {
                background: var(--google-green-700);
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
                font-weight: bold;
                z-index: 1;
                --paper-toolbar-title: {
                    overflow: visible;
                };
            }

            paper-toolbar paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            iron-list {
                padding-top: 1px;
                padding-bottom: 16px;
                -webkit-flex: 1 1;
                flex: 1 1;
                --iron-list-items-container: {
                    max-width: 800px;
                    margin: auto;
                    margin-top: 60px;
                    margin-bottom: 60px;
                    border-bottom: 1px solid #ddd;
                };
            }

            .faq {
                @apply(--layout-horizontal);
                padding: 20px;
                background-color: white;
                border: 1px solid #ddd;

                cursor: pointer;
                margin-bottom: 10px;
            }

            .faq:focus {
                outline: 0;
                border-color: #666;
            }

            .q {
                height: 40px;
                width: 40px;
                border-radius: 20px;
                box-sizing: border-box;
                background-color: #DDD;
                font-size: 34px;
                text-align: center;
                vertical-align: middle;
            }

            .pad {
                padding: 0 16px;
                @apply(--layout-flex);
                @apply(--layout-vertical);
            }

            .primary {
                font-size: 16px;
                font-weight: bold;
            }

            .nb, .step {
                font-size: 14px;
            }

            .step {
                color: gray;
                display: none;
            }

            .faq:hover .nb::after {
                content: ' [+]';
                color: gray;
            }

            .faq.expanded:hover .nb::after {
                content: '';
            }

            .faq.expanded .step {
                display: block;
            }

            .faq.expanded:hover .step::after {
                content: ' [–]';
            }

            .spacer {
                @apply(--layout-flex);
            }

            @media (max-width: 460px) {
                paper-toolbar .bottom.title {
                    font-size: 14px;
                }
            }
        </style>

        <paper-toolbar style$="background:{{color}}">

            <span class="title">
                <iron-icon icon="[[icon]]"></iron-icon>[[title]]
            </span>
        </paper-toolbar>
        <iron-list id="list" items="[[data.0]]" as="faq">
            <template>
                <div on-tap="_collapseExpand">
                    <div class$="[[getClassForFAQ(faq, 1)]]" tabindex="0">
                        <div class="q">{{titleQ(faq.name)}}</div>
                        <div class="pad">
                            <div class="primary">[[faq.name]]</div>
                            <div class="step">
                                [[faq.description]]

                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </iron-list>
    </template>
    <script>

        Polymer({
            is: 'collapsible-element',
            properties: {
                data: {
                    type: Array,
                    value: []
                },
                data_name: String,
                service: String,
                channel: Number,
                static: String,
                media: String,
                protocol: String,
                hostname: String,
                color: {type: String, value: '#749fe9'},
                params: Object,
            },
            ready: function () {
                this.media_url = this.protocol + '//' + this.hostname + this.media;
                this.static_url = this.protocol + '//' + this.hostname + this.static;


                this.params['data_name'] = this.data_name;

                this._loadData();
            },
            _loadData: function () {
                console.info('loading data');

                var target = this;


                var post_ajax = document.createElement("post-ajax");
                post_ajax.protocol = this.protocol;
                post_ajax.hostname = this.hostname;
                post_ajax.channel = this.channel;
                post_ajax.service = this.service;
                post_ajax.params = this.params;
                post_ajax.channel = this.channel;
                post_ajax.postready = true;
                post_ajax.addEventListener("response-ready", function (e) {

                    var payload = e.detail.response;

                    target.cols = payload.response.data_source.cols;
                    target.rows = payload.response.data_source.rows;
                    target.data = payload.response.data_source.data;


                });


            },
            titleQ: function (title) {
                return title.substring(0, 1);
            },
            _collapseExpand: function (e) {
                var list = this.$.list;
                var index = e.model.index;
                var isExpanded = list.items[index].expanded;

                list.set('items.' + index + '.expanded', !isExpanded);
                list.fire('iron-resize');
            },

            getClassForFAQ: function (faq, expanded) {
                return expanded ? 'faq expanded' : 'faq';
            }
        });

    </script>
</dom-module>
