<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="dialog-open">
	<template>
		
	<div>Log In</div>
</template>
</dom-module>
<script>
	Polymer ({
		is: "dialog-open"
	})
</script>