<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../post-ajax/post-ajax.html">

<dom-module id="dropdown-select">
    <style>
        :host {
            --paper-dropdown-menu-button: {
                width: 100%;
            }
        }

        .content {
            @apply(--layout-horizontal);
        }

        paper-dropdown-menu {
            @apply(--layout-flex);
        }

        .hidden-input {
            background: transparent;
            color: transparent;
            height: 1px;
            z-index: -99;
            border: none;
            outline: none;
            font-size: 1px;
            line-height: 1px;
            cursor: pointer;
            box-shadow: none;
            outline: 0;
        }

        iron-icon {
            height: inherit;
        }
    </style>

    <template>
        <content>
            <div class="content">
                <iron-icon icon="[[icon]]" prefix></iron-icon>
                <paper-dropdown-menu label="[[title]]" id="paper_dropdown_menu">
                    <paper-menu horizontal-align="left" class="dropdown-content" selected="{{dropdownValue}}">
                        <template is="dom-repeat" items="[[rows]]" as="data">
                            <paper-item>[[data.1]]</paper-item>
                        </template>
                    </paper-menu>
                </paper-dropdown-menu>
            </div>
        </content>
        <br>
        <input
                tabindex="-1"
                class="hidden-input"
                name="[[element]]"
                id="hidden_input"
                type="text"
                value="{{checked}}"
                maxlength="[[maxlength]]"
                pattern="[[pattern]]"
                required="[[required]]"/>

    </template>
</dom-module>
<script>
    Polymer({
        is: 'dropdown-select',
        properties: {
            icon: String,
            data_name: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
            dropdownValue: {observer: "dropdownValueChanged"},
            rows: {value: []},
            params: Object,
            element: {type: String, computed: 'computedElementName(data_name)'},
        },
        computedElementName: function (data_name) {
            var el = data_name.split("=");
            return el[0];
        },
        isEqual: function (a, b) {
            if (a == b) {
                return true;
            } else {
                return false;
            }
        },
        repeatObject: function (item) {
            var items = [];
            if (typeof item == 'object') {
                var count = 0;
                for (var x in item) {
                    items.push([count, x, item[x]]);
                    count++;
                }
            }
            return items;
        },
        ready: function () {

            this.$.paper_dropdown_menu.$$('paper-menu-button').horizontalAlign = 'left';

            window.list = this.$.list;
            this.dropdownValue = "";
            this.$.hidden_input.addEventListener('keydown', function (e) {
                e.preventDefault();
            });

            this.checked = "";
            this.multi = false;
            this.mode = 'list';
            this.grouped = 'yes';
            this.size = 150; //this.$.slider.value = 150;
            this.data = [];
            this.groups = [];
            this.params['data_name'] = this.data_name;

            var target = this;

            var post_ajax = document.createElement("post-ajax");
            post_ajax.protocol = this.protocol;
            post_ajax.hostname = this.hostname;
            post_ajax.channel = this.channel;
            post_ajax.service = this.service;
            post_ajax.params = this.params;
            post_ajax.channel = this.channel;
            post_ajax.postready = true;
            post_ajax.addEventListener("response-ready", function (e) {
                var payload = e.detail.response;
                target.cols = payload.response.data_source.cols;
                target.rows = payload.response.data_source.rows;
                target.groups = payload.response.data_source.groups;
                target.currentGroups = target.groups;
                target.data = payload.response.data_source.data;
                target.currentData = target.data;

            });

        },

        dropdownValueChanged: function () {
            if (Object.keys(this.rows).length > 0) {
                this.checked = this.rows[this.dropdownValue][0];
            }
        },
        jsonify: function (object) {
            return JSON.stringify(object)
        },

    });
</script>


