<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="stylesheet" type="text/css" href="../../../src/css/main_landing.css">
<!--<script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>-->
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<!--<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>-->
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<!--<link rel="import" href="bower_components/iron-flex-layout/classes/iron-flex-layout.html">-->
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../../bower_components/app-layout/app-layout.html">
<dom-module id="header-nav">
    <style is="custom-style">
    :root {

                --app-primary-color: #fcfcfc;
                --app-secondary-color: #eb2027;
                --app-accent-color: #260000;
                --app-default-color: #1b9cb3;

                --paper-button-ink-color: var(--app-accent-color);
                --paper-icon-button-ink-color: var(--app-accent-color);
                --paper-spinner-color: var(--app-accent-color);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                color: var(--app-primary-color);
            }
    
    app-header {
        z-index: 9999 !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: #fc0000;
        /*background-image: url(//app-layout-assets.appspot.com/assets/bg3.jpg);
      background-position: bottom center;
      background-size: cover;

      --app-header-background-front-layer: {
        background: -webkit-linear-gradient(top, transparent 0%, transparent 50%, rgba(0,0,0,0.5) 100%);
      };*/
        --app-header-background-rear-layer: {
            background-color: var(--app-primary-color);
        }
        ;
    }
    
    paper-icon-button {
        --paper-icon-button-ink-color: white;
    }
    
    app-toolbar.tall {}
    
    app-drawer {
        --app-drawer-content-container: {
            background-color: #BF0300;
        }
        z-index: 9999 !important;
    }
    
    .drawer-contents {
        height: 100% !important;
        overflow-y: auto;
    }
    
    ul {
        list-style: none !important;
        text-align: left;
    }
    
    paper-dialog {
        position: inherit;
        max-width: 180%;
    }
    a, a:hover, a:focus, a:active
    {
    text-decoration: none;
    color: #fff !important;
   }

   iron-image {
         max-width: 320px !important;
         max-height: 132px !important;
         } 
    </style>
    <template>
        <app-header condenses fixed effects="waterfall resize-snapped-title fade-background" effects-config='{"resize-snapped-title": {"startsAt": 0.8, "duration": "100ms"}, "fade-background": {"startsAt": 0.8, "endsAt": 0.9}}'>
            <app-toolbar>
                <a href="index.html">
                    <iron-image alt="BidFather logo." src="../../../images/logo.png" style="max-width: 320px;max-height: 320px;"></iron-image>
                </a>
                <!--<paper-icon-button icon="search"></paper-icon-button>-->
                <h4 condensed-title>GiveDirectly</h4>
                <div>Menu</div>
                <paper-icon-button icon="menu" on-tap="_toggleDrawer">
                </paper-icon-button>
            </app-toolbar>
        </app-header>
        <!--<sample-content size="100"></sample-content>-->
        <app-drawer id="drawer" align="end" swipe-open size="100">
            <div class="drawer-contents">
                <paper-icon-item>
                    <iron-icon class="grayIcon" icon="[[item]]" item-icon></iron-icon>
                    <span>Navigation</span>
                </paper-icon-item>
                <ul style="text-transform: uppercase; margin-top: 60px; ">
                    <li style="border-bottom-width: thin; border-style: solid; padding: 3px;"><a href="../../index.html">Home</a></li>
                    <li style="border-bottom-width: thin; border-style: solid; padding: 3px;"><a href="../../aboutus.html">About Us</a></li>
                    <li style="border-bottom-width: thin; border-style: solid; padding: 3px;"><a href="../../contacts.html">Contact Us</a></li>
                    <li style="border-bottom-width: thin; border-style: solid; padding: 3px;"><a href="http://bidfather.com/index">Login
          </a>
                    </li>
                </ul>
            </div>
        </app-drawer>
    </template>
</dom-module>
<script>
Polymer({
    is: "header-nav",

    _toggleDrawer:function () {
             this.$.drawer.toggle();
        },
})
</script>
