<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="stylesheet" type="text/css" href="../../../src/css/main_landing.css">
<dom-module id="login-element">
	<template>
	<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Arcue ut vel commodo</h2>
								<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
							</header>
							<ul class="actions vertical">
								<li><a href="http://www.bidfather.com/index" class="button fit special">Login</a></li>
								<li><a href="#read" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>

	</template>

</dom-module>
<script>
	Polymer ({
		is: "login-element"
	})
</script>