<dom-module id="markup-element">
    <template>
        <div id="container"></div>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'markup-element',
        properties: {
            icon: String,
            data_name: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
            markup: String,
        },

        ready: function () {
            var domBind = document.createElement('template', 'dom-bind');
            var doc = domBind.content.ownerDocument;
            var elem = doc.createElement('div');
            elem.innerHTML = unescape(this.markup);
            domBind.content.appendChild(elem);
            this.$.container.appendChild(domBind);
        }
    });
</script> 
