<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="msisdn-input.html">

<dom-module id="msisdn-element">
    <style>
        :host {
        }

        .hidden-input {
            background: transparent;
            color: transparent;
            height: 1px;
            z-index: -99;
            border: none;
            outline: none;
            font-size: 1px;
            line-height: 1px;
            cursor: pointer;
            box-shadow: none;
            outline: 0;
        }

    </style>

    <template>
        <paper-input-container name="[[name]]" always-float-label auto-validate attr-for-value="value">
            <iron-icon icon="[[icon]]" prefix></iron-icon>
            <label>[[title]]</label>
            <msisdn-input name="[[name]]" value="{{checked}}" class="paper-input-input"
                          required="[[required]]"></msisdn-input>
            <paper-input-error>MSISDN invalid!</paper-input-error>
        </paper-input-container>
        <input
                tabindex="-1"
                class="hidden-input"
                name="[[name]]"
                id="hidden_input"
                type="text"
                value="{{checked}}"
                maxlength="[[maxlength]]"
                pattern="[[pattern]]"
                required="[[required]]"/>

    </template>
</dom-module>
<script>
    Polymer({
        is: 'msisdn-element',
        properties: {
            icon: String,
            name: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
        },
        ready: function () {
            this.$.hidden_input.addEventListener('keydown', function (e) {
                e.preventDefault();
            });


        },
    });
</script>


