<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="msisdn-validator.html">

<dom-module id="msisdn-input">
    <template>

        <style>
            :host {
                display: inline-block;
            }

            input[is="iron-input"] {
                font: inherit;
                outline: none;
                box-shadow: none;
                border: none;
                width: auto;
                text-align: center;
            }
        </style>

        <msisdn-validator></msisdn-validator>

        <input is="iron-input" type="tel" pattern="^[+]{1}[1-9]{1}[0-9]{0,2}$" maxlength="4"
               bind-value="{{country_code}}" size="4" aria-label="Country Code" required="[[required]]">
        -
        <input is="iron-input" type="tel" pattern="^[1-9]{1}[0-9]{8,9}$" maxlength="10" bind-value="{{phone_number}}"
               size="10" aria-label="Local Number" required="[[required]]">

    </template>
</dom-module>

<script>
    Polymer({
        is: 'msisdn-input',

        behaviors: [
            Polymer.IronValidatableBehavior
        ],

        properties: {
            required: {type: Boolean},
            value: {
                notify: true,
                type: String
            },

            country_code: {
                type: String
            },

            local_number: {
                type: String
            },

            validator: {
                type: String,
                value: 'msisdn-validator'
            }
        },

        observers: [
            '_computeValue(country_code,phone_number)'
        ],

        _computeValue: function (country_code, phone_number) {
            this.value = country_code.trim() + phone_number.trim();
        }
    });
</script>
