<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">


<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<dom-module id="music-player">
    <style>
        :host {
        }

        paper-dialog.music-size-position {
            max-width: 350px;
            max-height: 350px;
            position: fixed;
            bottom: 0;
            right: 0;
            padding: 4px;
        }

        p, h2 {
            word-wrap: break-word;
        }

    </style>
    <template>
        <content>
            <paper-icon-button icon="av:play-circle-filled" id="paper_button"></paper-icon-button>
            <div id="content">
            </div>
        </content>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'music-player',
        properties: {
            title: String,
            description: String,
            url: String,
            color: String,
            start: Number,
            duration: Number,
        },
        ready: function () {
            var target = this;

            this.$.paper_button.addEventListener('tap', function () {
                var item = Polymer.dom(target.$.content);
                item.innerHTML = "";
                var paper_dialog = target.content();
                item.appendChild(paper_dialog);
                paper_dialog.open();

                paper_dialog.addEventListener('iron-overlay-closed', function (e) {
                    var id = e.currentTarget.id;
                    console.log(id + " is closed!");
                    this.innerHTML = '';

                });


            });

        },
        content: function () {

            var html_object = document.createElement('object');
            html_object.setAttribute('width', '280px');
            html_object.setAttribute('height', '150px');
            html_object.setAttribute('data', 'https://releases.flowplayer.org/swf/flowplayer-3.2.18.swf');
            html_object.setAttribute('type', "application/x-shockwave-flash");

            var html_param0 = document.createElement('param');
            html_param0.setAttribute('name', 'movie');
            html_param0.setAttribute('value', 'https://releases.flowplayer.org/swf/flowplayer-3.2.18.swf');
            Polymer.dom(html_object).appendChild(html_param0);

            var html_param1 = document.createElement('param');
            html_param1.setAttribute('name', 'allowfullscreen');
            html_param1.setAttribute('value', 'true');
            Polymer.dom(html_object).appendChild(html_param1);

            var html_param2 = document.createElement('param');
            html_param2.setAttribute('name', 'allowscriptaccess');
            html_param2.setAttribute('value', 'always');
            Polymer.dom(html_object).appendChild(html_param2);

            var html_param3 = document.createElement('param');
            html_param3.setAttribute('name', 'quality');
            html_param3.setAttribute('value', 'high');
            Polymer.dom(html_object).appendChild(html_param3);

            var html_param4 = document.createElement('param');
            html_param4.setAttribute('name', 'bgcolor');
            html_param4.setAttribute('value', this.color);
            Polymer.dom(html_object).appendChild(html_param4);

            var html_param5 = document.createElement('param');
            html_param5.setAttribute('name', 'flashvars');
            html_param5.setAttribute('value', 'config=' + JSON.stringify(this.configuration()));
            Polymer.dom(html_object).appendChild(html_param5);

            var paper_dialog = document.createElement('paper-dialog');
            paper_dialog.setAttribute('class', 'music-size-position');
            var title = document.createElement('h2');
            title.innerHTML = this.title;

            paper_dialog0 = Polymer.dom(paper_dialog);
            paper_dialog0.appendChild(title);
            paper_dialog0.appendChild(html_object);
            var description = document.createElement('p');
            description.innerHTML = this.description;
            paper_dialog0.appendChild(description);

            return paper_dialog;

        },
        configuration: function () {

            var ext = this.url.substring(this.url.lastIndexOf("."));
            var url = ext.replace('.', '') + ':' + this.url.replace(ext, '');
            var title = this.title;
            var start = this.start;
            var duration = this.duration;
            var color = this.color;
            var configuration = {
                clip: {
                    autoPlay: "true",
                    autoBuffering: "true",
                    url: url,
                    bufferLength: 1,
                    provider: "rtmp",
                    start: start,
                    duration: duration
                },
                //	playlist: [
                //		{url: url, title: title, autoPlay: true},
                //		],
                plugins: {
                    rtmp: {
                        url: "flowplayer.rtmp-3.2.13.swf",
                        netConnectionUrl: "rtmp://gus.gs/vod"
                    },
                    controls: {
                        backgroundGradient: [0.1, 0.3, 0, 0, 0],
                        bufferGradient: "none",
                        sliderColor: "#272727",
                        backgroundColor: color,
                        sliderGradient: "small",
                        buttonOverColor: "#272727",
                        borderRadius: "0px",
                        buttonColor: "#565656",
                        timeColor: "#CCCCCC",
                        progressColor: "#565656",
                        durationColor: "#ffffff",
                        bufferColor: "#CCCCCC",
                        progressGradient: "medium",
                        opacity: 1
                    }
                }
            }
            return configuration;

        },
    });
</script>


