<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">

<link rel="import" href="../post-ajax/post-ajax.html">

<link rel="import" href="../shopping-cart/shopping-cart.html">
<link rel="import" href="page-element.html">


<dom-module id="my-element">
    <style>
        #section {
        / / box-shadow: rgba(0, 0, 0, 0.0980392) 0 px 2 px 4 px, rgba(0, 0, 0, 0.0980392) 0 px 0 px 3 px;
        / / background-color: rgb(250, 250, 250);
            background: transparent;
        }

        #section1 {
            height: 100%;
            box-sizing: border-box;
        / / background-color: rgb(221, 221, 221);
            background: transparent;
        }

        #section2 {
        / / height: 5000 px;
            height: 100%;
        / / background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
            background: transparent;
        }

        #paper_toolbar, #paper_toolbar_header {
        / / color: rgb(241, 241, 241);
        / / fill: rgb(241, 241, 241);
            background: none;
            background-repeat: no-repeat;
        }

        paper-scroll-header-panel {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        / / background-color: var(--paper-grey-200, #eee);;
        / / background: linear-gradient(rgb(214, 227, 231), rgb(173, 216, 230));
            background: transparent;

        }

        #paper_tabs {
            background: none;
        }

        paper-toolbar {
        / / background-color: var(--google-blue-500, #4285f4);
            background: transparent;
        }


        paper-toolbar iron-icon {
            margin: 0 -12px;

        }


        paper-toolbar .title {
            margin: 0 8px;
        }

        paper-scroll-header-panel .content {
            padding: 8px;
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            padding-top: 20px;
        }

        /*  .container {
            width: 90%;
            margin: 2%;
          }
        */
        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: show;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        #spinner_dialog {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 1;
        }

        paper-drawer-panel {
        / / display: none;
        }

        .tagline {
            font-size: small;
            color: #CCC;
        }

        iron-icon {
            height: inherit;
        }
    </style>
    <template>
        <!--
        <post-ajax id="post_ajax"
            protocol = [[protocol]]
            hostname = [[hostname]]
            channel = [[channel]]
            service = [[service]]
            params = [[params]]
            postready = "true">

        </post-ajax>-->
		<div class="initShow"><center><img src="[[media_url]][[gateway.logo]]" height="120"></center></div>

		<div class="initShow" style="font-size: 17px; font-weight: bold; text-align: center;"><span>[[gateway.tagline]]</span></div>

		<paper-dialog id="showDialog8" class='colored' modal>
			<!--<paper-button dialog-dismiss>Cancel</paper-button>-->
		</paper-dialog>
        <paper-dialog id="spinner_dialog" modal>
            <div>
                <paper-spinner active class="loading"></paper-spinner>
            </div>
        </paper-dialog>

		<paper-drawer-panel id="paper_drawer_panel" style="display: none;" responsive-width="12800px">
			<paper-header-panel drawer>
            <!-- <section id="section" drawer> -->
                <paper-toolbar id="paper_toolbar_main_1">
                    <!-- <img src="[[media_url]][[gateway.logo]]" height="50"/> -->
					<div class="flex wrap title" style="padding: 8px 0;">[[gateway.name]]</div>
                </paper-toolbar>
                <paper-menu id="paper_menu" theme="paper-light-theme">
                    <template is="dom-repeat" items="[[ repeatObject(page) ]]" as="k0">
                        <paper-item selected="[[k0.0]]" id="paper_item">
                            <span><iron-icon icon="[[k0.2.section_var.1]]">
                                <iron-icon></span>&nbsp;<span>[[ capitalize(k0.2.section_var.0) ]]</span>
                        </paper-item>
                    </template>
                </paper-menu>
            <!-- </section> -->
			</paper-header-panel>
			<paper-header-panel main>
            <!-- <section id="section1" main>-->
                <!-- <paper-scroll-header-panel main fixed> -->
                    <paper-toolbar id="paper_toolbar_header_m1">
					<!-- <paper-toolbar id="paper_toolbar_header" style="background-color: background-color: rgba(0, 168, 88, 0.48);"> -->
                        <!-- Add class="tall" for bigger toolbar -->
						<paper-icon-button icon="icons:dashboard" id="vtabmenu" style="margin-right: 10px" on-tap="toggleVtab"></paper-icon-button>
                        <paper-icon-button icon="menu" id="menu" paper-drawer-toggle style="margin-right: 10px"></paper-icon-button>
                        <div class="flex wrap title" style="padding: 8px 0;">[[gateway.name]]</div>
						<div>
						<paper-icon-button id="number2" icon="icons:shopping-cart" on-tap="shopping" >
						</paper-icon-button>
						<paper-badge for="number2" label="4" class="pink">
						</paper-badge>
						</div>
                        <!--<paper-menu-button horizontal-align="left" horizontal-offset="20" vertical-align="top"
                                           vertical-offset="50">-->
                        <paper-menu-button horizontal-align="right" horizontal-offset="13" vertical-align="top"	vertical-offset="50">
							<paper-icon-button icon="more-vert" class="dropdown-trigger"></paper-icon-button>
							<paper-menu class="dropdown-content">
								<paper-item on-tap="refresh">
									<iron-icon icon="refresh"></iron-icon>
									<span style="margin-left:14px">Refresh</span>
								</paper-item>
								<!-- Todo show login button isaac -->
								<!-- <template is="dom-if" if="[[session]]"> -->
								<paper-item on-tap="logout">
									<iron-icon icon="exit-to-app"></iron-icon>
									<span style="margin-left:14px">Logout</span>
								</paper-item>
								<!-- </template> -->
							</paper-menu>
						</paper-menu-button>
                        <!--<div class="middle wrap">
						<img src="[[media_url]][[gateway.logo]]" height="80"/>
						</div>
						<div class="bottom wrap title"><span class="tagline">[[gateway.tagline]]</span></div>
						</div>-->
                    </paper-toolbar>
					<div class="vtabs">
						<div id="tabheadVt">
						<!--<div id="tabheadVt" style="background-image: linear-gradient(to right, rgba(0, 168, 88, 0.48) 186px, rgba(204, 0, 0, 0) 0px); float: left; height: 465px; left: 0; position: relative; top: 14px; width: 200px;">-->
							<div id="profile_holder_1"></div>
							<!-- <div style="background-image: radial-gradient(circle at 100% 100% , rgba(204, 0, 0, 0) 14px, rgba(0, 168, 88, 0.48) 0px); height: 14px; position: relative; top: -14px;}"></div> -->
							<div id="profile_holder_2">
							<!--<div id="profile_holder">-->
								<!--Profile no photo with spinner-->
								<!--<div id="prf_rotate"></div>
								<div id="prf_pic" style="background-color: #ffffff; border-radius: 71px; height: 48px; margin: -66px -7px 34px 74px; width: 48px;">
									<iron-icon icon="icons:account-circle" style="cursor: pointer; height: 54px; width: 54px; margin: -3px 0 0 -3px;" on-click="_openProfileOpts"></iron-icon>
									<span class="primg pr_1" style="margin: -3px 0 0 -3px;"></span>
								</div> -->

								<!--Profile photo with spinner-->
								<!--<div id="prf_rotate"></div>
								<div id="prf_pic" style="background-color: #ffffff; border-radius: 71px; height: 48px; margin: -69px -7px 34px 74px; width: 48px;">
									<span class="primg pr_1" style="margin: -3px 0 0 -3px;"></span>
								</div> -->

								<!--Profile no photo with profile name and attributes-->

						<!--		<div id="prfHld_1">
									<span class="primg pr_1" style="margin: 0px;"></span>
								</div>
								<span><span id="prfNameHld" style="font-weight: bold">Isaac khaguli</span> </br> <span id="prfRankHld">Operator</span></span>
						-->	</div>

							<nav id="navVt" style="float:left">
							</nav>
						</div>
						<!-- <div id="tb_content" class="contentVt scroll-pane"  style="overflow: auto; float:left; left: -7px;"> -->
						<div id="tb_content" class="contentVt"  style="overflow-y: scroll; float:left; padding-right: 7px;">
						<section id="section2" class="content" content style="padding: 15px;">
							<page-element
									csrf_token="[[csrf_token]]"
									protocol="[[protocol]]"
									hostname="[[hostname]]"
									channel="[[channel]]"
									static="[[static]]"
									media="[[media]]"
									params="[[jsonify(params)]]"
									page="[[page]]"
									session="[[session]]"
									showtabs="[[showtabs]]"
									color="[[gateway.default_color.color]]"
									selected="{{selected}}"
									group="[[group]]"></page-element>
							<shopping-cart
									csrf_token="[[csrf_token]]"
									protocol="[[protocol]]"
									hostname="[[hostname]]"
									channel="[[channel]]"
									static="[[static]]"
									media="[[media]]"
									color="[[gateway.default_color.color]]"></shopping-cart>
						</section>
						</div>
					</div>
                <!-- </paper-scroll-header-panel>
            </section> -->
			</paper-header-panel>
        </paper-drawer-panel>
    </template>
</dom-module>
<script>
    var media = window.matchMedia('(min-width: 1024px)');
	//Features (ftrs) to be shown
	var ftrsObj = JSON.parse('{"isInitial":false,"ftr":[],"imemSz":0,"ssin":false}');
	var doneK = 0;
	var svgDocument = null;
	var svgNS = "http://www.w3.org/2000/svg";
	var api = null;
	var vtab=0;
	var borderWt,backWt,gradPainBg,img1Set,img2Set;
	function init(evt)
	{
		if ( window.svgDocument == null )
		{
			svgDocument = evt.target.ownerDocument;
		}
	}
	function addRotateTransform(element_to_rotate, speed, direction, degr, rptCount)
	{
		//var element_to_rotate = svgDocument.getElementById(target_id);
		var my_transform = document.createElementNS(svgNS, "animateTransform");

		var bb = element_to_rotate.getBBox();
		var cx = bb.x + bb.width/2;
		var cy = bb.y + bb.height/2;

		my_transform.setAttributeNS(null, "attributeName", "transform");
		my_transform.setAttributeNS(null, "attributeType", "XML");
		my_transform.setAttributeNS(null, "type", "rotate");
		my_transform.setAttributeNS(null, "fill", "freeze");
		my_transform.setAttributeNS(null, "end", 180);
		my_transform.setAttributeNS(null, "dur", speed + "s");
		my_transform.setAttributeNS(null, "repeatCount", rptCount);
		my_transform.setAttributeNS(null, "from", "0 "+cx+" "+cy);
		my_transform.setAttributeNS(null, "to", degr*direction+" "+cx+" "+cy);
		element_to_rotate.childNodes[0].insertBefore(my_transform, element_to_rotate.childNodes[0].childNodes[0]);
		my_transform.beginElement();
	}
    Polymer({
        is: "my-element",
        properties: {
            csrf_token: String,
            static: String,
            media: String,
            session: {
                notify: true,
                type: Boolean/*,
                value: function () {
                    var session = localStorage.getItem('session');
                    if (session && typeof session != 'undefined') {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
				*/
            },
			showtabs: {
                notify: true,
                type: Boolean,
				value: true
            },

            page: {value: {}},
            selected: {value: 0},
            postready: {type: Boolean, notify: true},
            group: {value: 0},
            currentContent: {value: {}},
            params: {type: Object, value: {}},
            channel: {value: 1},
            content: {value: {}},
            bgcolor: {value: 'rgb(250,250,250)'},
            hostname: {value: window.location.hostname},
            protocol: {value: window.location.protocol},
            service: String,
        },
        repeatObject: function (item) {
            var items = [];
            if (typeof item == 'object') {
                var count = 0;
                for (var x in item) {
                    items.push([count, x, item[x]]);
                    count++;
                }
            }
            return items;
        },toggleVtab:function(){
			var lftSet = null,wdthSet = null;
			if(vtab==0){
				lftSet = "-=200px";
				wdthSet = "+=200px";
				vtab=1;
				$( "#tabheadVt" ).animate({ left: lftSet, width: "-=200px", opacity: 0 }, "slow" );
			}else{
				lftSet = "+=200px";
				wdthSet = "-=200px";
				vtab=0;
				$( "#tabheadVt" ).animate({ width: "+=200px", left: lftSet, opacity: 1 }, "slow" );
			}

			$( "#tb_content" ).animate({ "width": wdthSet }, "slow" );
			//$( ".jspContainer" ).animate({ "width": wdthSet }, "slow" );
			//$( ".jspPane" ).animate({ "width": wdthSet }, "slow" );
			//api.reinitialise();
		},
		closeDialog8: function(){
			this.$.showDialog8.close();
		},
		toggleDialog8: function(){
			this.$.showDialog8.toggle();
		},
        refresh: function () {
            window.location.reload();
        },
        shopping: function () {
        	var sc = document.querySelector('shopping-cart');
            sc._openShoppingCartDialog();

        },
        logout: function () {
            localStorage.clear();

            if (this.session) {
                var isInIFrame = (window.location != window.parent.location);
                //var isInIFrame = window.frameElement && window.frameElement.nodeName == "IFRAME";
                if (isInIFrame == true) {
                    window.open('/logout', "Logout", "toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=100,height=100");
                    window.location.reload();
                }
                else {
                    window.location.href = '/logout'
                }
            }
        },
        ready: function () {
            this.media_url = this.protocol + '//' + this.hostname + this.media;
            this.static_url = this.protocol + '//' + this.hostname + this.static;

            //this.$.spinner_dialog.open();

            var target = this;

            var menu = this.$.paper_menu;
            menu.addEventListener('tap', function () {
                target.group = this.selected;
				$('#navVt').find('a.selected').filter(function () {
					$(this).removeClass("selected");
				});
				$("#optSlct"+this.selected).addClass("selected");
            });

            var postEvent = function (e) {
                //target.$.spinner_dialog.close();

                var payload = e.detail.response;
                //var session = localStorage.getItem('session');
				var cssLinkDy = document.createElement("link");
				cssLinkDy.setAttribute("rel","stylesheet");
				cssLinkDy.setAttribute("type","text/css");
				cssLinkDy.setAttribute("href","/static/polymer/src/elements/"+payload.response.get_gateway_details.default_color.theme+".css");
				Polymer.dom(document.head).appendChild(cssLinkDy);
				backWt = payload.response.get_gateway_details.default_color.color_bk;

				ftrsObj['ssin'] = typeof payload.session_id !== 'undefined'? true:false;

				/*
                if (session && typeof session != 'undefined') {
                    target.session = true;
                }
				*/

                if ('response' in payload && 'get_interface' in payload.response && 'this_page_inputs' in payload.response.get_interface) {
                    //target.pageinputs = '';
                    target.page = payload.response.get_interface.this_page_inputs;
                    //for(k0 in target.page){ for(k1 in target.page[k0]){ for(k2 in target.page[k0][k1]){ target.pageinputs = target.page[k0][k1][k2]; }}}

					var optSlctNum = 0;
					$.each(target.page, function (index, value) {
						var vtabA = document.createElement("a");
						vtabA.setAttribute("id","optSlct"+optSlctNum);
						vtabA.setAttribute("slctNum",optSlctNum);
						if(index == 1){
							vtabA.setAttribute("class","selected style-scope my-element");
							vtabA.setAttribute("style","border-top: 1px solid #e0eee0;");
						}else{
							vtabA.setAttribute("class","style-scope my-element");
						}
						var vtabIronIcon = document.createElement("iron-icon");
						vtabIronIcon.setAttribute("class","vtabs-icon style-scope my-element");
						vtabIronIcon.setAttribute("icon","icons:"+value.section_var[1]);
						var vtabDiv1 = document.createElement("div");
						vtabDiv1.setAttribute("class","style-scope my-element");
						vtabDiv1.appendChild(vtabIronIcon);
						var vtabDiv2 = document.createElement("div");
						vtabDiv2.setAttribute("class","style-scope my-element");
						vtabDiv2.innerHTML = value.section_var[0];
						vtabA.appendChild(vtabDiv1);
						vtabA.appendChild(vtabDiv2);
						$('#navVt').append(vtabA);
						optSlctNum++;
					});
					$('.vtabs nav a').on('click', function() {
						//Isaac resolve delay in rendering after click
						target.group = $(this).attr('slctNum');
						$('#navVt').find('a.selected').filter(function () {
							$(this).removeClass("selected");
						});
						$(this).addClass("selected");
					});
                } else {
                    console.log('No Interface');
                }
                if ('response' in payload && 'get_interface' in payload.response && 'all_pages' in payload.response.get_interface) {
                    target.menu = payload.response.get_interface.all_pages;
                } else {
                    console.log('No Menu');
                }
                if ('response' in payload && 'get_gateway_details' in payload.response && Object.keys(payload.response.get_gateway_details).length > 0) {
                    target.gateway = payload.response.get_gateway_details;
                } else {
                    console.log('No Gateway');
                }
                if ('response' in payload && 'get_institution_details' in payload.response && Object.keys(payload.response.get_institution_details).length > 0) {
                    target.gateway = payload.response.get_institution_details;
                } else {
                    console.log('No Institution');
                }

	this.showtabs = true;

				if (payload.gateway_host.localeCompare("mchaama.com")==0){
					//this.showtabs = false;
					borderWt = '#00a858';
					gradPainBg = 'linear-gradient(to top, #215f00, #c2e59c)';
					img1Set = 'WRK9526-web-sample.jpg';
					img2Set = '539259121-web-sample.jpg';
				}else if (payload.gateway_host.localeCompare("bidfather.com")==0||payload.gateway_host.localeCompare("bidfatherafrica.com")==0){
					//this.showtabs =false;
					backWt = '#ccddff';
 					borderWt = '#137DB9';
					gradPainBg = 'linear-gradient(#D5D5D5 10%, #137DB9 90%)';
					img1Set = 'auction-paddle-2-bw.jpg';
					img2Set = 'bidhands-web-sample.jpg';
				}
				if (this.showtabs) {

					$('#paper_drawer_panel').css({'display':'block'});
					$('.initShow').css({'display':'none'});

					$('#ftrHolder').css({'border':'none','border-radius':'0','padding':'0','width':'auto'});
					$('body').addClass('loggedInBg');
					/*
					if (payload.gateway_host.localeCompare("bidfatherafrica.com")==0){
						$('body').css({
							'background':backWt+' none repeat scroll 0 0'
						});
						$('#paper_toolbar_header').css({
							'background':borderWt+' none repeat scroll 0 0'
						});
						//Isaac code duplication create setter function
						$('#ftrHolder').find('paper-button').filter(function () {
							if ($(this).parent().is("my-element")){
								$(this).css({'color':borderWt});
							}
						});

						$('#ftrHolder').find('paper-button').filter(function () {
							if ($(this).parent().is("div") && $(this)[0].style.backgroundColor !== 'rgb(0, 168, 88)'){
								$(this).css({'color':borderWt});
							}else if ($(this)[0].style.backgroundColor === 'rgb(0, 168, 88)'){
								$(this).css({'background-color':'#137DB9'});
							}
						});
						//scrollbar theme set
						//$('.jspTrack').css("background", "#a9c9a4");
						//$('.jspDrag').css("background", "#00a858");
					} */
                }else{

					var icon;
					if(!ftrsObj.initAppend){
						$.each(ftrsObj['ftr'], function (index, value) {
							var btnPaperButton = document.createElement("paper-button");
							//btnPaperButton.setAttribute("on-tap","clkStart");
							btnPaperButton.setAttribute("dlgSetter",value.dlgId);
							btnPaperButton.setAttribute("class","initShow initShow_thm_1");
							btnPaperButton.setAttribute("otherdlgs",''+JSON.stringify(ftrsObj['ftr'])+'');
							var btnIronIcon = document.createElement("iron-icon");
							btnIronIcon.setAttribute("icon",value.icon);
							var btnSpan = document.createElement("span");
							btnSpan.innerHTML = value.title;
							btnPaperButton.appendChild(btnIronIcon);
							btnPaperButton.appendChild(btnSpan);
							btnPaperButton.addEventListener('click', function (event) {
								$('#ftrHolder').unbind();
								$('#ftrHolder').children().unbind();
								if ($(event.target).is('paper-button')){
									var $target = $(event.target);
								}else{
									var $target = $(event.target).parent();
								}
								var slctElId = $target.attr('dlgSetter');
								$.each(JSON.parse($target.attr('otherdlgs')), function (index, value) {
									if(slctElId.localeCompare(value.dlgId)!=0){
										document.querySelector('#'+value.dlgId).parentElement.style.display = "none";
										document.querySelector('#'+value.dlgId).style.display = "none";
									}
								});

								document.querySelector('#'+slctElId).parentElement.style.display = "inline-block";
								document.querySelector('#'+slctElId).style.display = "inline-block";

								document.querySelector("my-element").toggleDialog8();
							});
							document.querySelector("my-element").appendChild(btnPaperButton);
							ftrsObj['initAppend'] = true;
						});

						//Theme toggle buttton for reporting
						var state = 1;
						var swapImg = 1;
						var themeBtnIronIcon = null;
						var btnPaperButton = document.createElement("paper-button");
						btnPaperButton.setAttribute("style","border: 1px solid; margin: 4px; position: absolute; bottom: 1px; left: 1px; font-size: 11px; width: auto; height: 27px; color: red;");
						themeBtnIronIcon = document.createElement("iron-icon");
						themeBtnIronIcon.setAttribute("icon","icons:settings");
						btnPaperButton.setAttribute("id","themeSetIcon");
						var btnSpan = document.createElement("span");
						btnSpan.innerHTML = 'theme';
						btnPaperButton.appendChild(themeBtnIronIcon);
						btnPaperButton.appendChild(btnSpan);
						//If mchaama then set theme
						// Isaac remember to create theme properties file - Assign to TIM Work
						/*
						if (payload.gateway_host.localeCompare("bidfatherafrica.com")==0){
							$('#ftrHolder').find('paper-button').filter(function () {
								if ($(this).parent().is("my-element")){
									$(this).css({'color':'#137DB9'});
								}
							});

							$('#ftrHolder').find('paper-button').filter(function () {
								if ($(this).parent().is("div") && $(this)[0].style.backgroundColor !== 'rgb(0, 168, 88)'){
									$(this).css({'color':'#137DB9'});
								}else if ($(this)[0].style.backgroundColor === 'rgb(0, 168, 88)'){
									$(this).css({'background-color':'#137DB9'});
								}
							});

							$('#ftrHolder').css({
									'border': '1px solid'+borderWt
							});
						}*/
						var loadingState = false;
						btnPaperButton.addEventListener('click', function (event) {
							if (!loadingState){
								if (state == 3){
									//Plain white background
									$('body').css({
										'background-image':'none',
										'background':'#ffffff none repeat'
									});
									$('#ftrHolder').css({
										'background-color': '#ffffff',
										'opacity': 1,
										'border': '1px solid'+borderWt
									});
									state = 1;
								}else if (state == 1){
									//Plain theme with gradient background
									$('body').css({
										'background-image':gradPainBg,
									});
									$('#ftrHolder').css({
										'background-color': '#ffffff',
										'opacity': 1,
										'border': 'none'
									});
									state = 2;
								}else if (state == 2){
									//theme with image background
									var img1 = img1Set;
									if(swapImg == 2){
										img1 = img2Set;
										--swapImg;
										state = 3;
									}else{
										img1 = img1Set;
										++swapImg;
										state = 2;
									}

									addRotateTransform($("#themeSetIcon").find('svg')[0], 1, 1,360,"indefinite");
									$("#themeSetIcon").find('span').html('loading');
									loadingState = true;

									var imgLoadTest = new Image();
									imgLoadTest.src = "images/"+img1;
									imgLoadTest.onerror = function(){
										$("#themeSetIcon").find('span').html('Image Error!');
										setTimeout(function() {
											$("#themeSetIcon").find('animateTransform').remove();
											$("#themeSetIcon").find('span').html('Theme');
											loadingState = false;
										},2000);
										state = 3;
									};
									imgLoadTest.onload = function () {
										$('body').css({
										'background':'url(images/'+img1+') no-repeat center center fixed',
										'-webkit-background-size':'cover',
										'-moz-background-size':'cover',
										'-o-background-size':'cover',
										'background-size':'cover'
										});
										loadingState = false;
										$("#themeSetIcon").find('animateTransform').remove();
										$("#themeSetIcon").find('span').html('Theme');
										$('#ftrHolder').css({
										'background-color': '#ffffff',
										'opacity': 0.61,
										'border': 'none'
										});
										$('#ftrHolder').hover(
											function() { $( this ).fadeTo( 50, '1');},
											function() { state == 3?$( this ).fadeTo( 50, '.61'):null; }
										);
									};
								}
							}

						});
						$('#outerCtn').append(btnPaperButton);

						//TODO - Isaac set css for logged in and not later
						//Warning to Brian bad element same id and multiple call to post list
						$('#showDialog8').find('.card-holder').filter(function () {
							$(this).attr("style", "width:300px; margin: 0px; border-radius: 3px;padding: 5px 3px;").removeClass("card-holder-fix-size");
						});
					}
				}

				var windowWidth = $(window).width(), windowHeight = $(window).height();
				$('#tb_content').width(windowWidth-207);
				$('#tabheadVt').height(windowHeight-64);
				$('#tb_content').height(windowHeight-64);
				$(window).resize(function() {
					windowWidth = $(window).width();
					windowHeight = $(window).height();
					//$('.jspContainer').width(windowWidth-200);
					//$('.jspPane').width(windowWidth-220);
					$('#tb_content').width(windowWidth-207);
					$('#tabheadVt').height(windowHeight-64);
					$('#tb_content').height(windowHeight-64);
					//api.reinitialise();
				});
				/* For theme three
				$('.scroll-pane').jScrollPane(
					{
						showArrows: true,
						horizontalGutter: 10
					}
				);
				api = $('.scroll-pane').data('jsp');
				api.reinitialise();
				$('.scroll-pane').each(
					function()
					{
						$(this).jScrollPane(
							{
								showArrows: true,
								horizontalGutter: 10
							}
						);
						var api = $(this).data('jsp');
						var throttleTimeout;
						$(window).bind(
							'resize',
							function()
							{
								// IE fires multiple resize events while you are dragging the browser window which
								// causes it to crash if you try to update the scrollpane on every one. So we need
								// to throttle it to fire a maximum of once every 50 milliseconds...
								if (!throttleTimeout) {
									throttleTimeout = setTimeout(
										function()
										{
											api.reinitialise();
											throttleTimeout = null;
										},
										50
									);
								}
							}
						);
					}
				); */

				$('body').addClass('loaded');
				$('body').css("padding", "0");
				//api.reinitialise();
				//$('.jspTrack').css("background", "#a9c9a4");
				//$('.jspDrag').css("background", "#00a858");
            }

            var post_ajax = document.createElement("post-ajax");
            post_ajax.protocol = this.protocol;
            post_ajax.hostname = this.hostname;
            post_ajax.channel = this.channel;
            post_ajax.service = this.service;
            post_ajax.params = this.params;
            //post_ajax.channel = this.channel; repeat
            post_ajax.postready = true;

            post_ajax.addEventListener("response-ready", postEvent);


        },
        getCSRFCookie: function () {
            b = document.cookie.match('(^|;)\\s*csrftoken\\s*=\\s*([^;]+)');
            return b ? b.pop() : '';
        },
        topMenuChanged: function () {

            if (this.topMenu == 'Refresh') {
                window.location.reload();
            }

            if (this.topMenu == 'Exit') {
                if (this.session) {
                    window.location.href = '/logout';
                }
                localStorage.clear();
                this.topMenu = '';
            }

        },
        serializePath: function (obj) {
            result = "";

            for (param in obj)
                result += ( encodeURIComponent(param) + '=' + encodeURIComponent(obj[param]) + '&' );
            if (result) //it's not empty string when at least one key/value pair was added. In such case we need to remove the last '&' char
                result = result.substr(0, result.length - 1); //If length is zero or negative, substr returns an empty string [ref. http://msdn.microsoft.com/en-us/library/0esxc5wy(v=VS.85).aspx]
            return result;
        },
        hashPath: function (str) {
            if (typeof str !== 'string') {
                return {};
            }
            str = str.trim().replace(/^\?/, '');

            if (!str) {
                return {};
            }

            return str.trim().split('&').reduce(function (ret, param) {
                var parts = param.replace(/\+/g, ' ').split('=');
                ret[parts[0]] = parts[1] === undefined ? null : decodeURIComponent(parts[1]);
                return ret;
            }, {});
        },
        capitalize: function (item) {
            item = item.toLowerCase().split(" ");
            var new_item = [];
            for (i = 0; i < item.length; i++) {
                new_item[i] = item[i].substr(0, 1).toUpperCase() + item[i].substr(1);
            }
            return new_item.join(" ");
        },
        jsonify: function (object) {
            return JSON.stringify(object)
        },
        injectBoundHTML: function injectBoundHTML(html, element) {
            var template = document.createElement('template', 'dom-bind');
            var doc = template.content.ownerDocument;
            var div = doc.createElement('div');
            div.innerHTML = html;
            template.content.appendChild(div);
            while (element.firstChild) {
                element.removeChild(element.firstChild);
            }
            element.appendChild(Polymer.Base.instanceTemplate(template));
        },
        keys: function (obj) {
            if (obj && typeof obj === 'object') {
                //obj = Object.keys(obj);
                //obj.sort();
                //return obj;
                return Object.keys(obj);
            }
        },

    });
</script>
