<!--Iron Elements-->
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<!--Iron Icons-->
<link rel="import" href="../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../bower_components/iron-icons/device-icons.html">
<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../../bower_components/iron-icons/notification-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<!-- -->
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">

<!--Paper Elements -->
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/gold-cc-cvc-input/gold-cc-cvc-input.html">
<link rel="import" href="../../bower_components/gold-cc-input/gold-cc-input.html">
<link rel="import" href="../../bower_components/gold-cc-expiration-input/gold-cc-expiration-input.html">
<link rel="import" href="../../bower_components/paper-styles/demo-pages.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<!-- Custom Elements -->
<link rel="import" href="../../bower_components/countdown-element/countdown-element.html">

<link rel="import" href="dropdown-select.html">
<link rel="import" href="static-dropdown-select.html">
<link rel="import" href="grouped-select.html">
<link rel="import" href="list-select.html">
<link rel="import" href="audio-input.html">
<link rel="import" href="file-input.html">
<link rel="import" href="date-element.html">
<link rel="import" href="time-element.html">
<link rel="import" href="map-element.html">
<link rel="import" href="chart-element.html">
<link rel="import" href="image-input.html">
<link rel="import" href="camera-input.html">
<link rel="import" href="radio-element.html">
<link rel="import" href="static-radio-group.html">
<link rel="import" href="checkbox-element.html">
<link rel="import" href="toggle-element.html">
<link rel="import" href="../msisdn-element/msisdn-element.html">
<link rel="import" href="product-list.html">
<link rel="import" href="music-list.html">
<link rel="import" href="carousel-element.html">
<link rel="import" href="summary-element.html">
<link rel="import" href="markup-element.html">
<link rel="import" href="gallery-element.html">
<link rel="import" href="collapsible-element.html">



<link rel="import" href="../mqtt-element/mqtt-notification-element.html">
<link rel="import" href="../mqtt-element/mqtt-list-element.html">
<link rel="import" href="../pos-element/pos-element.html">

<dom-module id="post-list">
    <template>
        <style>

        :host {
        }
        /*	div.card-holder {
	    width: 100%;
	}*/
        .card-header {
            margin: 10px;
            font-size: 1.2rem;
            font-weight: 300;

        }

        #google_chart {
            width: 100%;
        }

        #multiple_selector {
            height: 400px;
            overflow: scroll;
        }

        button {
            border: none;
        / / text-shadow: none;
            background: none;

        }

        #image_input, image-input {
            width: 40%;
            min-width: 100px;
        }

        .hidden_validation {
            width: 0px;
            height: 0px;
            border: medium none;
            outline: medium none;
            font-size: 0px;
            display: block;
            line-height: 0;
            left: -9999px;
            z-index: 12;
            position: fixed;
        }

        paper-toast {
            z-index: 9;
        }

        #form_generator :invalid {
            background: #EEE;
        }

        .loading {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: show;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        #spinner_dialog {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 1;
        }

        #overlay_element {
            position: fixed;
            outline: none;
            z-index: 12;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            -webkit-user-select: none;
            -moz-user-select: none;
            background: transparent;
            outline: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
            top: 1%;
            left: 1%;
            bottom: 1%;
            right: 1%;
        }

        paper-dialog#overlay_element.paper-dialog-0 {
            margin: 0px;
            margin-bottom: 24px;
        }

        paper-icon-button#close_badge.paper-icon-button-0, paper-icon-button#minimize_badge.paper-icon-button-0 {
            height: 30px;
            margin: 0px;
        }

		paper-input{
			width:100%;
			height:54px;
		}
		x-select {
			display: block;
			margin: 0em;
		}
    </style>
		<!--
		<paper-dialog id="spinner_dialog" modal>
            <div>
                <paper-spinner active class="loading"></paper-spinner>
            </div>
        </paper-dialog>
		-->
		
        <div id="card_holder" class="card-holder col-md-13 card-holder-fix-size">
            <div id="card_header" class="card-header" layout horizontal>
                <!--<iron-icon icon="{{items.input_var.8}}" id="iron_icon"></iron-icon>&nbsp;<span>{{ capitalize(istitle)}}</span>-->
            </div>
            <content>
                <paper-dialog id="overlay_element" modal layout vertical center>
                </paper-dialog>
                <paper-toast id="paper_toast" duration="10000" layout horizontal reverse></paper-toast>
                <div id="form_content"></div>
            </content>
        </div>
    </template>

    <script>
    Polymer({
        is: 'post-list',
        properties: {
            show: String,
            istitle: String,
            csrf_token: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            static: String,
            media: String,
            params: {type: Object, value: {}},
            original_items: {type: Object, observer: 'original_itemsChanged',},
			divnum:String,
        },
        objToQueryString(obj){
            var k = Object.keys(obj);
            var s = "";
            for (var i = 0; i < k.length; i++) {
                s += k[i] + "=" + encodeURIComponent(obj[k[i]]);
                if (i != k.length - 1) s += "&";
            }
            return s;
        },

        ready: function () {

            this.items = this.original_items;
            this.nodes = {};

            this.nodes['POS'] = function (payload, target, ipayload) {
                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<pos-element service="' + payload[5] + '" data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</pos-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;

            }

            this.nodes['MAP VIEW'] = function (payload, target, ipayload) {
                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<map-element service="' + payload[5] + '" data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</map-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;

            }

            this.nodes['CHART VIEW'] = function (payload, target, ipayload) {
                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<chart-element service="' + payload[5] + '" data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</chart-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;
            }

            this.nodes['EMAIL INPUT'] = function (payload, target, ipayload) {

                var dynamicEl0 = document.createElement("iron-icon");
                dynamicEl0.setAttribute("icon", payload[6]);
                dynamicEl0.setAttribute("prefix", "");

                var dynamicEl = document.createElement("paper-input");
                dynamicEl.setAttribute("name", payload[4]);
                dynamicEl.setAttribute("type", "email");
                dynamicEl.setAttribute("maxlength", payload[3]);
                dynamicEl.setAttribute("pattern", ".{" + payload[2] + "," + payload[3] + "}");
                if (payload[2] && payload[2] > 0) {
                    dynamicEl.setAttribute("required", "required");
                }
                if (payload[5] && payload[5] != 'null') {
                    dynamicEl.setAttribute("value", payload[5])
                }
                ;
                dynamicEl.setAttribute("label", target.capitalize(payload[0]));
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("char-counter", "");
                dynamicEl.setAttribute("auto-validate", "");


                Polymer.dom(dynamicEl).appendChild(dynamicEl0);

                return dynamicEl;
            }

            this.nodes['PASSWORD INPUT'] = function (payload, target, ipayload) {

                var dynamicEl0 = document.createElement("iron-icon");
                dynamicEl0.setAttribute("icon", payload[6]);
                dynamicEl0.setAttribute("prefix", "");

                var dynamicEl = document.createElement("paper-input");
                dynamicEl.setAttribute("name", payload[4]);
                dynamicEl.setAttribute("type", "password");
                dynamicEl.setAttribute("maxlength", payload[3]);
                dynamicEl.setAttribute("pattern", ".{" + payload[2] + "," + payload[3] + "}");
                if (payload[2] && payload[2] > 0) {
                    dynamicEl.setAttribute("required", "required");
                }
                if (payload[5] && payload[5] != 'null') {
                    dynamicEl.setAttribute("value", payload[5])
                }
                ;
                dynamicEl.setAttribute("label", target.capitalize(payload[0]));
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("char-counter", "");
                dynamicEl.setAttribute("auto-validate", "");


                Polymer.dom(dynamicEl).appendChild(dynamicEl0);

                return dynamicEl;
            }
            this.nodes['COLLAPSIBLE ELEMENT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<collapsible-element icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" media="' + target.media + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</collapsible-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;
            }


            this.nodes['HIDDEN'] = function (payload, target, ipayload) {
                var dynamicEl = document.createElement("input");
                dynamicEl.setAttribute("name", payload[4]);
                dynamicEl.setAttribute("type", "hidden");
                if (payload[5] && payload[5] != 'null') {
                    dynamicEl.setAttribute("value", payload[5])
                }
                ;
                return dynamicEl;
            }


            this.nodes['NUMBER INPUT'] = function (payload, target, ipayload) {

                var dynamicEl0 = document.createElement("iron-icon");
                dynamicEl0.setAttribute("icon", payload[6]);
                dynamicEl0.setAttribute("prefix", "");

                var dynamicEl = document.createElement("paper-input");
                dynamicEl.setAttribute("name", payload[4]);
                dynamicEl.setAttribute("type", "number");
                dynamicEl.setAttribute("step", "any");
                dynamicEl.setAttribute("maxlength", payload[3]);
                dynamicEl.setAttribute("pattern", ".{" + payload[2] + "," + payload[3] + "}");
                if (payload[2] && payload[2] > 0) {
                    dynamicEl.setAttribute("required", "required");
                }
                if (payload[5] && payload[5] != 'null') {
                    dynamicEl.setAttribute("value", payload[5])
                }
                ;
                dynamicEl.setAttribute("label", target.capitalize(payload[0]));
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("char-counter", "");
                dynamicEl.setAttribute("auto-validate", "");


                Polymer.dom(dynamicEl).appendChild(dynamicEl0);

                return dynamicEl;
            }

            this.nodes['CC EXPIRATION'] = function (payload, target, ipayload) {

                var dynamicEl = document.createElement("gold-cc-expiration-input");
                dynamicEl.setAttribute("name", payload[4]);
                dynamicEl.setAttribute("maxlength", payload[3]);
                dynamicEl.setAttribute("pattern", ".{" + payload[2] + "," + payload[3] + "}");
                if (payload[2] && payload[2] > 0) {
                    dynamicEl.setAttribute("required", "required");
                }
                if (payload[5] && payload[5] != 'null') {
                    dynamicEl.setAttribute("value", payload[5])
                }
                ;
                dynamicEl.setAttribute("label", payload[0]);
                //dynamicEl.setAttribute("char-counter", "");
                dynamicEl.setAttribute("auto-validate", "");

                dynamicEl.setAttribute("class", payload[7]);

                return dynamicEl;
            }


            this.nodes['CC INPUT'] = function (payload, target, ipayload) {

                var dynamicEl = document.createElement("gold-cc-input");
                dynamicEl.setAttribute("name", payload[4]);
                dynamicEl.setAttribute("maxlength", payload[3]);
                dynamicEl.setAttribute("pattern", ".{" + payload[2] + "," + payload[3] + "}");
                if (payload[2] && payload[2] > 0) {
                    dynamicEl.setAttribute("required", "required");
                }
                if (payload[5] && payload[5] != 'null') {
                    dynamicEl.setAttribute("value", payload[5])
                }
                ;
                dynamicEl.setAttribute("label", payload[0]);
                //dynamicEl.setAttribute("char-counter", "");
                dynamicEl.setAttribute("auto-validate", "");

                dynamicEl.setAttribute("class", payload[7]);

                return dynamicEl;
            }


            this.nodes['CVC INPUT'] = function (payload, target, ipayload) {

                var dynamicEl = document.createElement("gold-cc-cvc-input");
                dynamicEl.setAttribute("name", payload[4]);
                dynamicEl.setAttribute("maxlength", payload[3]);
                dynamicEl.setAttribute("pattern", ".{" + payload[2] + "," + payload[3] + "}");
                if (payload[2] && payload[2] > 0) {
                    dynamicEl.setAttribute("required", "required");
                }
                if (payload[5] && payload[5] != 'null') {
                    dynamicEl.setAttribute("value", payload[5])
                }
                ;
                dynamicEl.setAttribute("label", payload[0]);
                //dynamicEl.setAttribute("char-counter", "");
                dynamicEl.setAttribute("auto-validate", "");
                dynamicEl.setAttribute("style", "width:100px;margin-left: auto; margin-right: auto;");

                dynamicEl.setAttribute("class", payload[7]);

                return dynamicEl;
            }


            this.nodes['TEXT INPUT'] = function (payload, target, ipayload) {

                var dynamicEl0 = document.createElement("iron-icon");
                dynamicEl0.setAttribute("icon", payload[6]);
                dynamicEl0.setAttribute("prefix", "");

                var dynamicEl = document.createElement("paper-input");
                dynamicEl.setAttribute("name", payload[4]);
                dynamicEl.setAttribute("type", "text");
                dynamicEl.setAttribute("maxlength", payload[3]);
                dynamicEl.setAttribute("pattern", ".{" + payload[2] + "," + payload[3] + "}");
                if (payload[2] && payload[2] > 0) {
                    dynamicEl.setAttribute("required", "required");
                }
                if (payload[5] && payload[5] != 'null') {
                    dynamicEl.setAttribute("value", payload[5])
                }
                ;
                dynamicEl.setAttribute("label", target.capitalize(payload[0]));
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("char-counter", "");
                dynamicEl.setAttribute("auto-validate", "");


                Polymer.dom(dynamicEl).appendChild(dynamicEl0);

                return dynamicEl;
            }

            this.nodes['TEXT AREA'] = function (payload, target, ipayload) {

                var dynamicEl0 = document.createElement("iron-icon");
                dynamicEl0.setAttribute("icon", payload[6]);
                dynamicEl0.setAttribute("prefix", "");

                var dynamicEl1 = document.createElement("paper-textarea");
                dynamicEl1.setAttribute("name", payload[4]);
                dynamicEl1.setAttribute("maxlength", payload[3]);
                dynamicEl1.setAttribute("pattern", ".{" + payload[2] + "," + payload[3] + "}");
                if (payload[2] && payload[2] > 0) {
                    dynamicEl1.setAttribute("required", "required");
                }
                if (payload[5] && payload[5] != 'null') {
                    dynamicEl1.setAttribute("value", payload[5])
                }
                ;
                dynamicEl1.setAttribute("label", target.capitalize(payload[0]));
                dynamicEl1.setAttribute("char-counter", "");
                dynamicEl1.setAttribute("auto-validate", "");

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                Polymer.dom(dynamicEl1).appendChild(dynamicEl0);
                Polymer.dom(dynamicEl).appendChild(dynamicEl1);

                return dynamicEl;
            }

            this.nodes['TEL INPUT'] = function (payload, target, ipayload) {

                var dynamicEl0 = document.createElement("iron-icon");
                dynamicEl0.setAttribute("icon", payload[6]);
                dynamicEl0.setAttribute("prefix", "");

                var dynamicEl = document.createElement("paper-input");
                dynamicEl.setAttribute("name", payload[4]);
                dynamicEl.setAttribute("type", "tel");
                dynamicEl.setAttribute("maxlength", payload[3]);
                dynamicEl.setAttribute("pattern", ".{" + payload[2] + "," + payload[3] + "}");
                if (payload[2] && payload[2] > 0) {
                    dynamicEl.setAttribute("required", "required");
                }
                if (payload[5] && payload[5] != 'null') {
                    dynamicEl.setAttribute("value", payload[5])
                }
                ;
                dynamicEl.setAttribute("label", target.capitalize(payload[0]));
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("char-counter", "");
                dynamicEl.setAttribute("auto-validate", "");


                Polymer.dom(dynamicEl).appendChild(dynamicEl0);

                return dynamicEl;
            }

            this.nodes['BOXES'] = function (payload, target, ipayload) {

                var dynamicEl = document.createElement("summary-box");
                dynamicEl.setAttribute("reference", payload[4]);
                dynamicEl.setAttribute("name", payload[0]);
                dynamicEl.setAttribute("icon", payload[6]);
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("color", target.color);

                return dynamicEl;
            }

            this.nodes['DATE'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<date-element service="' + payload[5] + '" params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" multi="true" ' + required + '>'
                        + '</date-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;

            }

            this.nodes['GALLERY ELEMENT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<gallery-element icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" media="' + target.media + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" multi="true" ' + required + '>'
                        + '</gallery-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['GROUPED MULTI SELECT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }
				var scrollerHt = "410px";
				if(payload[9] !== 'undefined'){
					scrollerHt = payload[9]+'px'
				}
                var dynamicEl0 = '<grouped-select icon="' + payload[6] + '" service="'
				+ payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="'
				+ payload[4] + '" media="' + target.media + '" protocol="' + target.protocol +'" scrollerheight="' + scrollerHt
				+ '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="'
				+ target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="'
				+ payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" multi="true" ' + required + '>'
                        + '</grouped-select>';

                var dynamicEl = document.createElement("span");
				//Affects Compose
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['MSISDN INPUT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                //var dynamicEl0 = '<msisdn-element icon="'+payload[6]+'" name="'+payload[4]+'" title="'+target.capitalize(payload[0])+'" '+required+'></msisdn-element>';
                var dynamicEl0 = '<msisdn-element icon="' + payload[6] + '" name="' + payload[4] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" ' + required + '>'
                        + '</msisdn-element>';
                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['MUSIC LIST'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = "required";
                }

                var dynamicEl0 = '<music-list icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '"  media ="' + target.media + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</music-list>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;

            }


            this.nodes['PRODUCT LIST'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = "required";
                }

                var dynamicEl0 = '<product-list icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '"  media="' + target.media + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</product-list>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;

            }


            this.nodes['GROUPED SELECT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = "required";
                }

                var dynamicEl0 = '<grouped-select icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '"  media="' + target.media + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</grouped-select>';

                var dynamicEl = document.createElement("span");
				//Affects summary/inbox/sent/contacts
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['TIME'] = function (payload, target, ipayload) {

                var required = "false"
                if (payload[2] && payload[2] > 0) {
                    required = 'true';
                }

                var dynamicEl0 = '<time-element service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</time-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['SELECT'] = function (payload, target, ipayload) {
                var core_item = '';
                for (var k0 in payload[5]) {
                    core_item = core_item + '<core-item value="' + k0 + '" label="' + target.capitalize(payload[5][k0]) + '"></core-item>';
                }
                var this_input = "", attributes = "";
                attributes = attributes + ' maxlength="' + payload[3] + '"';
                attributes = attributes + ' pattern=".{' + payload[2] + ',' + payload[3] + '}"';
                if (payload[2] && payload[2] > 0) {
                    attributes = attributes + ' required';
                }

                this_input = '<input name="' + payload[4] + '" value="{{' + target.makeVariable(payload[0]) + '}}" type="text" class="hidden_validation" ' + attributes + ' />';
                var dynamicEl0 = '<core-dropdown-menu label="' + target.capitalize(payload[0]) + '">'
                        + '<core-dropdown class="dropdown"><core-menu valueattr="value" selected="{{' + target.makeVariable(payload[0]) + '}}"  >'
                        + core_item + '</core-menu></core-dropdown></core-dropdown-menu>' + this_input;

                var dynamicEl = document.createElement("paper-input-decorator");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("floatingLabel", "");
                dynamicEl.setAttribute("icon", payload[6]);
                dynamicEl.innerHTML = dynamicEl0;
                target[target.makeVariable(payload[0])] = '';
                return dynamicEl;
            }


            this.nodes['REDO BUTTON'] = function (payload, target, ipayload) {
                var dynamicEl0 = document.createElement("paper-fab");
                dynamicEl0.setAttribute("icon", "chevron-left");
                dynamicEl0.setAttribute("id", "paper_fab");
                dynamicEl0.style.backgroundColor = target.color;

                dynamicEl0.addEventListener('tap', function () {
                    target.items = target.original_items;
                    target.interface(target.params);
                });

                var dynamicEl = document.createElement("div");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("horizontal", "");
                dynamicEl.setAttribute("end-justified", "");
                dynamicEl.setAttribute("layout", "");
                dynamicEl.appendChild(dynamicEl0);

                return dynamicEl;
            }


            this.nodes['SUBMIT'] = function (payload, target, ipayload) {
				var dynamicEl2 = null, dynamicEl1 = null;

				if (payload[9]){
					var dynamicEl0 = document.createElement("paper-fab");
					dynamicEl0.setAttribute("icon", payload[6]);
					dynamicEl0.setAttribute("title", target.capitalize(payload[0]));
					dynamicEl0.style.backgroundColor = target.color;

					//No Name Value on button input as it shall affect hash validation
					dynamicEl1 = document.createElement("button");
					//dynamicEl1.setAttribute("is", "paper-button");
					dynamicEl1.setAttribute("type", "submit");
					dynamicEl1.setAttribute("style", "width:100%; margin: 10px 0;");


					var dynamicEl2 = document.createElement("paper-button");
					dynamicEl2.setAttribute("role", "button");
					dynamicEl2.setAttribute("tabindex","0");

					dynamicEl2.setAttribute("animated","");
					dynamicEl2.setAttribute("aria-disabled","false");
					dynamicEl2.setAttribute("elevation","0");
					dynamicEl2.setAttribute("class", "submitBtn_thm_1");


					var dynamicEl3 = document.createElement("iron-icon");
					dynamicEl3.setAttribute("icon","lock");

					var dynamicEl4 = document.createElement("span");
					dynamicEl4.innerHTML=payload[0];

					dynamicEl2.appendChild(dynamicEl3);
					dynamicEl2.appendChild(dynamicEl4);
					dynamicEl1.appendChild(dynamicEl2);
				}
				dynamicEl = document.createElement("div");
				dynamicEl.setAttribute("class", payload[7]);
				dynamicEl.setAttribute("horizontal", "");
				dynamicEl.setAttribute("end-justified", "");
				dynamicEl.setAttribute("layout", "");
				payload[9]?dynamicEl.appendChild(dynamicEl1):null;

                return dynamicEl;
            }

            this.nodes['LIST VIEW'] = function (payload, target, ipayload) {
                var dynamicEl = document.createElement("div");
                dynamicEl.setAttribute("class", payload[7]);

                var dynamicEl2 = document.createElement("list-view");
                dynamicEl2.setAttribute("color", target.color);
                dynamicEl2.setAttribute("class", payload[7]);
                dynamicEl.appendChild(dynamicEl2);

                return dynamicEl;
            }

            this.nodes['VIDEO VIEW'] = function (payload, target, ipayload) {
                var dynamicEl = document.createElement("div");
                dynamicEl.setAttribute("class", payload[7]);

                var dynamicEl1 = document.createElement("video-element");
                dynamicEl1.setAttribute("class", payload[7]);
                dynamicEl.appendChild(dynamicEl1);

                return dynamicEl;
            }

            this.nodes['AUDIO VIEW'] = function (payload, target, ipayload) {
                var dynamicEl = document.createElement("div");
                dynamicEl.setAttribute("class", payload[7]);

                var dynamicEl0 = document.createElement("audio-element");
                dynamicEl0.setAttribute("class", payload[7]);
                dynamicEl.appendChild(dynamicEl0);

                return dynamicEl;
            }

            this.nodes['PRINTER'] = function (payload, target, ipayload) {
                var dynamicEl = document.createElement("printer-element");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("name", target.capitalize(payload[0]));
                return dynamicEl;
            }

            this.nodes['SQLITE TABLE'] = function (payload, target, ipayload) {
                var dynamicEl = document.createElement("sqlite-element");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("name", target.capitalize(payload[0]));
                dynamicEl.setAttribute("reference", payload[4]);
                dynamicEl.setAttribute("database", target.protocol);
                dynamicEl.setAttribute("table", target.makeVariable(payload[4]));
                return dynamicEl;
            }

            this.nodes['SCALE READER'] = function (payload, target, ipayload) {
                var dynamicEl = document.createElement("scale-element");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("name", target.capitalize(payload[0]));
                return dynamicEl;
            }

            this.nodes['SIDEBAR VIEW'] = function (payload, target, ipayload) {
                var dynamicEl = document.createElement("div");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("name", target.capitalize(payload[0]));
                dynamicEl.setAttribute("style", "height: 400px;");
                return dynamicEl;
            }

            this.nodes['TEXT VIEW'] = function (payload, target, ipayload) {

                var dynamicEl0 = document.createElement("iron-icon");
                dynamicEl0.setAttribute("icon", payload[6]);
                dynamicEl0.setAttribute("prefix", "");

                var dynamicEl = document.createElement("div");
                dynamicEl.setAttribute("class", payload[7]);

                Polymer.dom(dynamicEl).appendChild(dynamicEl0);
                Polymer.dom(dynamicEl).appendChild(document.createTextNode(target.capitalize(payload[0]) + ": " + payload[5]));
                return dynamicEl;
            }

            this.nodes['IMAGE ELEMENT'] = function (payload, target, ipayload) {
                var dynamicEl = document.createElement("div");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.setAttribute("flex", "");

                dynamicEl.innerHTML = '<img style="" src="' + payload[5] + '"/>';
                return dynamicEl;
            }

            this.nodes['CAMERA INPUT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<camera-input icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" color="' + target.color + '" title="' + target.capitalize(payload[0]) + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</camera-input>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }


            this.nodes['IMAGE INPUT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<image-input icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" color="' + target.color + '" title="' + target.capitalize(payload[0]) + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</image-input>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['FILE INPUT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<file-input service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" color="' + target.color + '" title="' + target.capitalize(payload[0]) + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</file-input>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }


            this.nodes['AUDIO INPUT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<audio-input service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" color="' + target.color + '" title="' + target.capitalize(payload[0]) + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</audio-input>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['HYPERLINK TOP'] = function (payload, target, ipayload) {

                var dynamicEl1 = document.createElement('a');
                dynamicEl1.setAttribute("id", "hyperlink");
                dynamicEl1.setAttribute("target", "_top");
                dynamicEl1.setAttribute("style", "color:'+target.color+';");
                dynamicEl1.setAttribute("href", payload[5]);
                dynamicEl1.innerHTML = target.capitalize(payload[0]);

                var dynamicEl0 = document.createElement("iron-icon");
                dynamicEl0.setAttribute("icon", payload[6]);
                dynamicEl0.setAttribute("prefix", "");

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);

                Polymer.dom(dynamicEl).appendChild(dynamicEl0)
                Polymer.dom(dynamicEl).appendChild(dynamicEl1)

                return dynamicEl;

            }




            this.nodes['MQTT LIST'] = function (payload, target, ipayload) {


                var dynamicEl0 = '<mqtt-list-element topic="' + payload[5] + '"  data_name="' + payload[4] + '"  media="' + target.media + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '"></mqtt-list-element>' ;

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            };

            this.nodes['HYPERLINK WINDOW'] = function (payload, target, ipayload) {

                var dynamicEl1 = document.createElement('a');
                dynamicEl1.setAttribute("id", "hyperlink");

                dynamicEl1.setAttribute("style", "color:'"+target.color+"';");
                dynamicEl1.setAttribute("href", payload[5]);
                dynamicEl1.innerHTML = target.capitalize(payload[0]);
                dynamicEl1.onclick = function (evt) {
                    evt.preventDefault();
                    window.open(evt.target.href,'_blank','location=yes,height=570,scrollbars=yes,status=yes');

                };

                var dynamicEl0 = document.createElement("iron-icon");
                dynamicEl0.setAttribute("icon", payload[6]);
                dynamicEl0.setAttribute("prefix", "");

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);

                Polymer.dom(dynamicEl).appendChild(dynamicEl0);
                Polymer.dom(dynamicEl).appendChild(dynamicEl1);

                return dynamicEl;

            };
            this.nodes['COUNTDOWN ELEMENT'] = function (payload, target, ipayload) {


                var dynamicEl0 = '<countdown-element untill="' + payload[5] + '" link="/live_bid/?bid_id=5" message="' + target.capitalize(payload[0]) + '" color="' + target.color  + '"></countdown-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);


                dynamicEl.innerHTML = dynamicEl0;
                return dynamicEl;

            };




            this.nodes['HYPERLINK'] = function (payload, target, ipayload) {

                var open_link = "_self";
                var frame_element = Polymer.dom(target.$.overlay_element).querySelector('#frame_element');
                if (frame_element) {
                    open_link = frame_element.name;
                }


                var dynamicEl1 = document.createElement('a');
                dynamicEl1.setAttribute("id", "hyperlink");
                dynamicEl1.setAttribute("target", open_link);
                dynamicEl1.setAttribute("style", "color:'+target.color+';");
                dynamicEl1.setAttribute("href", payload[5]);
                dynamicEl1.innerHTML = target.capitalize(payload[0]);

                var dynamicEl0 = document.createElement("iron-icon");
                dynamicEl0.setAttribute("icon", payload[6]);
                dynamicEl0.setAttribute("prefix", "");

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);

                Polymer.dom(dynamicEl).appendChild(dynamicEl0)
                Polymer.dom(dynamicEl).appendChild(dynamicEl1)

                dynamicEl1.addEventListener("click", function () {
                    if (frame_element) {
                        target.$.overlay_element.toggle();
                    }

                });

                return dynamicEl;

            };

            this.nodes['LABEL'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<iron-icon icon="' + payload[6] + '" prefix></iron-icon>' + target.capitalize(payload[0]);

                var dynamicEl = document.createElement("paper-item");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            };

            this.nodes['TOGGLE INPUT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<toggle-element  icon="' + payload[6] + '" data_name="' + payload[4] + '"  title="' + target.capitalize(payload[0]) + '"  color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '></toggle-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['CHECKBOX INPUT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<checkbox-element icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</checkbox-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['RADIO INPUT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<radio-element icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</radio-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['STATIC RADIO GROUP'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<static-radio-group icon="' + payload[6] + '" data_items="' + payload[5] + '" data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</static-radio-group>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }


            this.nodes['STATIC DROPDOWN SELECT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<static-dropdown-select icon="' + payload[6] + '" data_items="' + payload[5] + '" data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</static-dropdown-select>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }

            this.nodes['CAROUSEL ELEMENT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<carousel-element icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</carousel-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;


            }
            this.nodes['MARKUP ELEMENT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<markup-element icon="' + payload[6] + '" markup="' + escape(payload[5]) + '" data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</markup-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;

            }


            this.nodes['SUMMARY ELEMENT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<summary-element icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</summary-element>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;

            }

            this.nodes['DROPDOWN SELECT'] = function (payload, target, ipayload) {

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = 'required';
                }

                var dynamicEl0 = '<dropdown-select icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</dropdown-select>';

                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                return dynamicEl;

            }

            this.nodes['LIST SELECT'] = function (payload, target, ipayload) {

                var open_link = "_self";
                var frame_element = Polymer.dom(target.$.overlay_element).querySelector('#frame_element');
                if (frame_element) {
                    open_link = frame_element.name;
                }

                var required = "";
                if (payload[2] && payload[2] > 0) {
                    required = "required";
                }

                var dynamicEl0 = '<list-select id="list_select" target="'+open_link+'" icon="' + payload[6] + '" service="' + payload[5] + '"  params=\'' + JSON.stringify(ipayload) + '\' data_name="' + payload[4] + '"  media="' + target.media + '" protocol="' + target.protocol + '" hostname="' + target.hostname + '" channel="' + target.channel + '" title="' + target.capitalize(payload[0]) + '" color="' + target.color + '" maxlength="' + payload[3] + '" pattern=".{' + payload[2] + ',' + payload[3] + '}" ' + required + '>'
                        + '</list-select>';


                var dynamicEl = document.createElement("span");
                dynamicEl.setAttribute("class", payload[7]);
                dynamicEl.innerHTML = dynamicEl0;

                var list_select = Polymer.dom(dynamicEl).querySelector('#list_select');
                list_select.addEventListener('open-overlay', function(e){
                    console.log('Open Overlay Received');
                    if (frame_element) {
                        target.$.overlay_element.toggle();
                    }
                });
                console.log('List Select: '+list_select);

                return dynamicEl;

            };
            this.interface(this.params);
        },
        hashPath: function (str) {
            if (typeof str !== 'string') {
                return {};
            }
            str = str.trim().replace(/^\?/, '');

            if (!str) {
                return {};
            }

            return str.trim().split('&').reduce(function (ret, param) {
                var parts = param.replace(/\+/g, ' ').split('=');
                ret[parts[0]] = parts[1] === undefined ? null : decodeURIComponent(parts[1]);
                return ret;
            }, {});
        },
        original_itemsChanged: function () {
            this.items = this.original_items;
            this.interface(this.params);
        },
        jsonify: function (object) {
            return JSON.stringify(object)
        },
        capitalize: function (item) {
            item = item.toString();
            item = item.toLowerCase().split(" ");
            var new_item = [];
            for (i = 0; i < item.length; i++) {
                new_item[i] = item[i].substr(0, 1).toUpperCase() + item[i].substr(1);
            }
            return new_item.join(" ");
        },
        makeVariable: function (obj) {
            obj = obj.toLowerCase().replace(/ /g, "_");
            obj = obj.replace(/\-/g, "_");
            ;
            var my_varible = obj.toString();
            this[my_varible] = '';
            return my_varible;
        },
        interface: function (ipayload) {

            function generator(form_generator, target) {
                for (k0 in target.items) {
                    //Set Section Size
                    if (target.items[k0].length > 0 && target.items[k0][1] in target.nodes && k0 != 'input_var') {
                        var thisnode = target.nodes[target.items[k0][1]](target.items[k0], target, ipayload);
                        Polymer.dom(form_generator).appendChild(thisnode);
                    }
                }


                if (target.channel == 1) {
                    console.log("Web Channel");
                    var csrf_token = document.createElement("input");
                    csrf_token.setAttribute("type", "hidden");
                    csrf_token.setAttribute("name", "csrfmiddlewaretoken");
                    csrf_token.setAttribute("value", target.csrf_token);
                    Polymer.dom(form_generator).appendChild(csrf_token);
                }

                target.$.form_content.innerHTML = '';
                Polymer.dom(target.$.form_content).appendChild(form_generator);

            }

            var target = this;

            if (this.items && 'input_var' in this.items) {

                //Allow Submit to frame
                var isInIframe = (window.location != window.parent.location) ? true : false;
                if (isInIframe) {
                }
                else {
                    var frame_element;
                    try {
                        frame_element = document.createElement('<iframe name="' + this.items.input_var[6] + '" />'); //IE Support
                    } catch (ex) {
                        frame_element = document.createElement("iframe");
                    }
                    frame_element.setAttribute("id", "frame_element");
                    frame_element.setAttribute("name", this.items.input_var[6]);
                    frame_element.setAttribute("sandbox", "allow-same-origin allow-scripts allow-popups allow-forms allow-top-navigation");
                    frame_element.setAttribute("frameborder", "0");
                    frame_element.setAttribute("marginheight", "0px");
                    frame_element.setAttribute("marginwidth", "0px");
                    frame_element.setAttribute("style", "width:100%;height:100%;margin:0 0 1em; border:0;background: #fff;");

                    var close_badge = document.createElement('paper-icon-button');
                    close_badge.setAttribute("id", "close_badge");
                    close_badge.setAttribute("style", "background:" + this.color + ";color:#fff;font-weight: bolder;");
                    close_badge.setAttribute("icon", "icons:close");

                    var minimize_badge = document.createElement('paper-icon-button');
                    minimize_badge.setAttribute("id", "minimize_badge");
                    minimize_badge.setAttribute("style", "background:" + this.color + ";color:#fff;font-weight: bolder;");
                    minimize_badge.setAttribute("icon", "icons:remove");

                    close_badge.addEventListener("tap", function () {
                        target.$.overlay_element.close();
                    });

                    minimize_badge.addEventListener("tap", function () {
                        target.$.overlay_element.cancel();
                    });

                    this.$.overlay_element.addEventListener("iron-overlay-opened", function (e) {
                        console.log("Overlay Opened");
                    });
                    this.$.overlay_element.addEventListener("iron-overlay-closed", function (e) {
                        console.log("Overlay Closed");
                        target.items = target.original_items;
                        target.interface(target.params);

                    });
                    this.$.overlay_element.addEventListener("iron-overlay-canceled", function (e) {
                        console.log("Overlay Cancelled");
                    });

                    Polymer.dom(this.$.overlay_element).innerHTML = "";
                    Polymer.dom(this.$.overlay_element).appendChild(close_badge);
                    Polymer.dom(this.$.overlay_element).appendChild(minimize_badge);
                    Polymer.dom(this.$.overlay_element).appendChild(frame_element);


                }


                if (this.items.input_var[1] == 'FORM') {

					form_generator = document.createElement('form', 'iron-form');
					//if(localStorage.getItem('session')){
						var card_header = this.$.card_header;
						card_header.innerHTML = "";
						var iron_icon = document.createElement('iron-icon');
						iron_icon.setAttribute("icon", this.items.input_var[8]);
						var istitle = document.createElement("span");
						istitle.innerHTML = "&nbsp;" + this.capitalize(this.istitle);

						if(this.items.input_var[10]){
							Polymer.dom(card_header).appendChild(iron_icon);
							Polymer.dom(card_header).appendChild(istitle);
						}
					//}
                    generator(form_generator, this);
                    form_generator.addEventListener('iron-form-presubmit', function (e) {
                        e.preventDefault();
                        target.submitForm(e);
                    })

                }
                else if (this.items.input_var[1] == 'HIDDEN FORM') {
                    form_generator = document.createElement('form', 'iron-form');
                    Polymer.dom(this.$.card_holder).setAttribute("class", "");
                    Polymer.dom(this.$.card_header).setAttribute("class", "");
                    form_generator.content = "application/x-www-form-urlencoded";
                    generator(form_generator, this);
                    form_generator.addEventListener('iron-form-presubmit', function (e) {
                        e.preventDefault();
                        target.submitForm(e);
                    })

                }
                else if (this.items.input_var[1] == 'FRAME FORM') {
                    form_generator = document.createElement('form');
                    form_generator.content = "text/html;charset=UTF-8";
                    form_generator.action = this.items.input_var[5];
                    if (this.items.input_var[4]) {
                        form_generator.method = this.items.input_var[4];
                    }
                    else {
                        form_generator.method = 'POST';
                    }
                    generator(form_generator, this);
                    if (frame_element) {
                        form_generator.target = this.items.input_var[6];
                        frame_element.addEventListener("load", function (e) {  //Just don't have a frame from on-body onload/initializing
                            try {
                                var iframeWin = frame_element.contentDocument || frame_element.contentWindow.document;
                                console.log("iframeWin: " + iframeWin);
                                if (iframeWin) {
                                    var body = iframeWin.body;
                                    console.log("Body: " + body);

                                    if (body.innerHTML != "") {
                                        target.$.overlay_element.open();
                                        console.log("Frame Started Loading");
                                    }
                                }
                            }
                            catch (e) {
                                console.log("Form Frame Error: " + e);
                                target.$.overlay_element.open();
                            }

                        });
                    }
                }


                if (this.items.input_var[9]) {
                    //this.$.spinner_dialog.open();
                    console.log('Auto Submit Form Type: ' + form_generator.method);
                    if (form_generator.submit()) {
                        console.log('Auto-submit Started');
                    }
                }

            }
        },
        submitForm: function (event) {
            try {
                document.querySelector("my-element").closeDialog8();
                document.querySelector("my-element").$.spinner_dialog.open();
            }
            catch (err) {
                console.error("Caught Error: " + err);
            }


            //event.preventDefault();

            this.formnodes = {};
            var defaultForm = function (payload, target) {

                event.preventDefault();
                var post_ajax = document.createElement("post-ajax");
                post_ajax.protocol = target.protocol;
                post_ajax.hostname = target.hostname;
                post_ajax.channel = target.channel;
                post_ajax.service = target.items.input_var[0];
                post_ajax.params = payload;
                post_ajax.channel = target.channel;
                post_ajax.postready = true;
                post_ajax.addEventListener("response-ready", function (e) {
                    // do something to response
                    var payload = e.detail.response;
					//alert(JSON.stringify(payload));
                    if ('response_status' in payload && 'response' in payload) {
                        /* Response Action */
                        if ('login' in payload.response && typeof payload.response.login == 'object') {
                            if ('api_key' in payload.response.login) {
                                localStorage.setItem("api_key", payload.response.login.api_key);
                            }
                        }

                        if ('session' in payload.response) {
                            var session = localStorage.getItem('session');
                            //Define a session if it doesn't exist. If exists, leave it
                            if (!session || typeof session === 'undefined') {
                                localStorage.setItem("session", payload.response.session);
                            }
                        }

                        if ('redirect' in payload.response) {
                            window.location.reload();
                            //window.location.hash = "#";
                            //window.location.hash = '#?SERVICE=HOME';
                            //window.location.reload()
							//alert('Tuna reload');
                        }
                        if ('get_section' in payload.response) {
                            if ('this_page_inputs' in payload.response.get_section) {

                                target.items = '';
                                target.page = payload.response.get_section.this_page_inputs;
                                for (k0 in target.page) {
                                    for (k1 in target.page[k0]) {
                                        if (k1 != "section_var") {
                                            for (k2 in target.page[k0][k1]) {
                                                if (k2 != "page_var") {
                                                    for (k3 in target.page[k0][k1][k2]) {
                                                        for (k4 in target.page[k0][k1][k2][k3]) {
                                                            target.items = target.page[k0][k1][k2][k3][k4];
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                if (Object.keys(target.items).length == 0) {
                                    target.items = target.original_items;
                                }
                                else {
                                    target.params = payload;
                                }
                                target.interface(target.params);
                                target.$.card_holder.scrollIntoView();

                            }
                        } else {
                            console.log('No Interface');
                        }

						$('#paper_drawer_panel').css({'display':'block'});
						$('.initShow').css({'display':'none'});
						$('#ftrHolder').css({'border':'none','border-radius':'0','padding':'0','width':'auto'});
						$('body').css({
							'background':'#E0EEE0 none repeat scroll 0 0'
						});

                        //TOAST (Show response info)
                        var view = target.$.paper_toast;
                        view.setAttribute("style", "min-width: 0px;background:white;");
                        view_dom = Polymer.dom(view)
                        view_dom.innerHTML = "";
                        for (var k0 in payload.response) {
                            if (k0 == "get_section" || k0 == "get_interface" || k0 == "session" || typeof payload.response[k0] == 'object') {
                            }
                            else {
                                var t = document.createElement("b");
                                t.setAttribute("style", "text-transform: capitalize;");
                                t.style.color = target.color;
                                var s = document.createElement("span");
                                s.style.color = target.color;
                                s.innerHTML = k0.replace(/_/g, " ");
                                var i = document.createTextNode(': ' + payload.response[k0]);
                                var j = document.createElement("br");

                                t.appendChild(s);
                                t.appendChild(i);
                                t.appendChild(j);

                                view_dom.appendChild(t);

                            }
                        }
                        if (view_dom.innerHTML.length !== 0) {
                            view.show();
                        }
                    }
                    document.querySelector("my-element").$.spinner_dialog.close();
                });

                return false;
            }

            this.formnodes['FORM'] = defaultForm;
            this.formnodes['HIDDEN FORM'] = defaultForm;

            this.formnodes['FRAME FORM'] = function (payload, target) {
                console.log("Frame Form Submit");

                Polymer.dom(target.$.overlay_element).querySelector('#frame_element').addEventListener('load', function () {
                    //this.setAttribute("style", "width:98%;height:98%;margin:1%;border:none;display:block;");
                });

                return false;
            }

            //var thisnode = this.formnodes[this.items.input_var[1]](event.detail, this);
            var thisnode = this.formnodes[this.items.input_var[1]](event.target.serialize(), this);
            //this.$.form_generator.appendChild(thisnode);

            //return false;
        },
    });
</script>
</dom-module>

