<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">

<link rel="import" href="../post-ajax/post-ajax.html">

<dom-module id="radio-element">
    <style>
        :host {
        }

        .hidden-input {
            background: transparent;
            color: transparent;
            height: 1px;
            z-index: -99;
            border: none;
            outline: none;
            font-size: 1px;
            line-height: 1px;
            cursor: pointer;
            box-shadow: none;
            outline: 0;
        }
    </style>

    <template>
        <iron-icon icon="[[icon]]" prefix></iron-icon>
        <span>[[title]]</span>
        <paper-radio-group selected="{{checked}}">
            <template is="dom-repeat" items="[[rows]]" as="data">
                <paper-radio-button name="[[data.0]]">[[data.1]]</paper-radio-button>
            </template>

        </paper-radio-group>
        <input
                tabindex="-1"
                class="hidden-input"
                name="[[data_name]]"
                id="hidden_input"
                type="text"
                value="{{checked}}"
                maxlength="[[maxlength]]"
                pattern="[[pattern]]"
                required="[[required]]"/>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'radio-element',
        properties: {
            icon: String,
            data_name: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            params: Object,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
            rows: {value: []}
        },
        ready: function () {
            this.customStyle['--primary-text-color'] = this.color;
            this.customStyle['--default-primary-color'] = this.color;
            this.updateStyles();


            this.$.hidden_input.addEventListener('keydown', function (e) {
                e.preventDefault();
            });

            this.checked = "";
            this.data = [];
            this.groups = [];
            this.params['data_name'] = this.data_name;

            var target = this;

            var post_ajax = document.createElement("post-ajax");
            post_ajax.protocol = this.protocol;
            post_ajax.hostname = this.hostname;
            post_ajax.channel = this.channel;
            post_ajax.service = this.service;
            post_ajax.params = this.params;
            post_ajax.channel = this.channel;
            post_ajax.postready = true;
            post_ajax.addEventListener("response-ready", function (e) {
                var payload = e.detail.response;
                console.log("Posts Loaded Started: " + JSON.stringify(payload));
                target.cols = payload.response.data_source.cols;
                target.rows = payload.response.data_source.rows;
                target.groups = payload.response.data_source.groups;
                target.currentGroups = target.groups;
                target.data = payload.response.data_source.data;
                target.currentData = target.data;

            });

        },
        jsonify: function (object) {
            return JSON.stringify(object)
        },
    });
</script>


