<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="stylesheet" type="text/css" href="../../../src/css/main_landing.css">
<dom-module id="second-read-element">
	<template>
	<style>
		h2 {
			color: #00a859 !important;
		}

		#cont {

			color: #000 !important;
		}
		section{

			-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
		}

		img {
			-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
		}
	</style>
	<section id="second-read" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="../../images/pic01.jpg" alt="" /></div><div class="content" id="cont">
							<h2>The Team</h2>
								<h2>Samson Arita<br />
								Technology and Innovations Lead</h2>
								<p>Samson is a Software Engineer by profession. A holder of a BSc. degree in Software Engineering, he has held various positions and overseen numerous projects in leading technology companies and countries. </p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="../../images/pic02.jpg" alt="" /></div><div class="content" id="cont">
								<h2>Frank Abner<br />
								Support, Infrastructure and Networks-Remote Lead</h2>
								<p>Frank is a practitioner in Business Informational Technology. He holds a BSc. BBIT degree and Masters in Business Administration - MBA with a bias in Strategic Management.</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="../../images/pic03.jpg" alt="" /></div><div class="content" id="cont">
								<h2>Evans Koskei<br />
								UI/UX Design Lead</h2>
								<p>Evans is a seasoned Web Designer and Software Developer. He is a holder of a BSc. Software Engineering degree with a mastery in languages such as HTML, PHP 5, ASP.NET, and JavaScript.</p>
							</div>
						</section>
					</section>

	</template>

</dom-module>
<script>
	Polymer ({
		is: "second-read-element"
	})
</script>