<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">

<link rel="import" href="../post-ajax/post-ajax.html">

<dom-module id="static-radio-group">
    <style>
        :host {
        }

        .hidden-input {
            background: transparent;
            color: transparent;
            height: 1px;
            z-index: -99;
            border: none;
            outline: none;
            font-size: 1px;
            line-height: 1px;
            cursor: pointer;
            box-shadow: none;
            outline: 0;
        }
    </style>

    <template>
        <div>
            <label>
                <iron-icon icon="[[icon]]" prefix></iron-icon>
                <span>[[title]]</span>
            </label>
        </div>
        <div>
            <paper-radio-group selected="{{checked}}">
                <template is="dom-repeat" items="[[data]]" as="data">
                    <paper-radio-button name="[[data]]">[[data]]</paper-radio-button>
                    <br/>
                </template>
            </paper-radio-group>
        </div>
        <input
                tabindex="-1"
                class="hidden-input"
                name="[[data_name]]"
                id="hidden_input"
                type="text"
                value="{{checked}}"
                maxlength="[[maxlength]]"
                pattern="[[pattern]]"
                required="[[required]]"/>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'static-radio-group',
        properties: {
            icon: String,
            data_name: String,
            data_items: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
            data: {value: []}
        },
        isEqual: function (a, b) {
            if (a == b) {
                return true;
            } else {
                return false;
            }
        },
        repeatObject: function (item) {
            var items = [];
            if (typeof item == 'object') {
                var count = 0;
                for (var x in item) {
                    items.push([count, x, item[x]]);
                    count++;
                }
            }
            return items;
        },
        ready: function () {

            window.list = this.$.list;
            this.$.hidden_input.addEventListener('keydown', function (e) {
                e.preventDefault();
            });

            this.checked = "";
            this.multi = false;
            this.mode = 'list';
            this.grouped = 'yes';
            this.size = 150; //this.$.slider.value = 150;
            this.data = [];
            this.groups = [];

            this.data = this.data_items.split("|")

        },

    });
</script>


