<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../post-ajax/post-ajax.html">

<dom-module id="summary-element">
    <style>
        :host {
        }

        /* #scroller {
			border: 1px solid #e0e0e0;
            overflow: auto;
			height: 410px;
            min-height: 450px;
            max-height: 4500px;
            height: var(--grouped-select-height);
        }
		*/

        .item {
            box-sizing: border-box;
            padding: 2px;
            overflow: hidden;
            color: black;
            border-bottom: 1px solid gray;
        }

        .item > img {
            height: 50px;
            width: 50px;
        }

        .selected {
            color: white;
            background: gray;
        }

        .body {
            font-size: 10px;
        }

        .description {
        }

        .divider {
            color: gray;
        }

        .toolbar {
            background: #CCC;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            color: white;
        }

        .title {
            padding: 4px 2px 2px 2px;
        }

        .title.grid {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
            color: white;
        }

        .pad {
            padding: 2px;
        }

        .pad-left {
            padding-left: 2px;
        }

        .menu {
            color: black;
        }

        .primary {
            font-size: 14px;
        }

        .secondary {
            font-size: 12px;
        }

        .message-item {
            padding: 4px;
            background: white;
            font-family: sans-serif;
        }

        .message-item.selected {
            background-color: #eee;
        }

        .avatar {
            height: 40px;
            width: 40px;
            border-radius: 20px;
            box-sizing: border-box;
            border: 1px solid #DDD;
            background-color: #DDD;
        }

        .dim {
            color: gray;
        }

        iron-list {
            background-color: var(--paper-grey-200, #eee);
            padding-bottom: 16px;
            height: 500px;
        }

        .item {
            @apply(--layout-horizontal);

            margin: 16px 16px 0 16px;
            padding: 20px;

            border-radius: 8px;
            background-color: white;
            border: 1px solid #ddd;
        }

        .avatar {
            height: 40px;
            width: 40px;
            border-radius: 20px;
            box-sizing: border-box;
            background-color: #DDD;
        }

        .pad {
            padding: 0 16px;
            @apply(--layout-flex);
            @apply(--layout-vertical);
        }

        .primary {
            font-size: 16px;
            font-weight: bold;
        }

        .secondary {
            font-size: 14px;
        }

        .dim {
            color: gray;
        }

        .iron-selected {
            background-color: #ddd;
        }

        .count, .date_time, state {
            text-align: right;
            font-size: 12px;
            font-weight: 500;
        }

    </style>

    <template>
        <content>
            <h4>
                <iron-icon icon="[[icon]]" prefix>&nbsp;</iron-icon>
                <span>{{title}}</span></h4>
            <hr>
            <div id="scroller"  class="scroller">
                <template is="dom-repeat" items="[[ currentData ]]" as="data0" index-as="idx">
                    <template is="dom-repeat" items="[[currentGroups]]" as="group" index-as="idy">
                        <template is="dom-if" if="[[ isEqual(idx,idy) ]]">
                            <div id="[[ group ]]"><span>[[ group ]]</span></div>
                        </template>
                    </template>
                    <template is="dom-repeat" items="[[data0]]" as="item">
                        <div class="item" name="[[item.index]]">
                            <template is="dom-if" if="[[item.image]]"><img class="avatar"
                                                                           src$="{{_getImagePath(item.image)}}">
                            </template>
                            <div class="pad">
                                <div class="primary"><span>[[item.name]]</span></div>
                                <div class="secondary"><span>[[item.type]]</span></div>
                                <div class="secondary dim"><span>[[item.description]]</span></div>
                                <div class="count"><span id="count">{{item.count}}</span></div>
                                <div class="horizontal layout">
                                    <div class="request flex">
                                        <template is="dom-repeat" items="[[repeatObject(item.request)]]" as="request">
                                            <span id="request">{{request.1}}</span>:<span
                                                id="response">{{request.2}}</span><br>
                                        </template>
                                    </div>
                                    <div class="response flex">
                                        <template is="dom-repeat" items="[[repeatObject(item.response)]]" as="response">
                                            <span id="response">{{response.1}}</span>:<span
                                                id="response">{{response.2}}</span><br>
                                        </template>
                                    </div>
                                </div>
                                <div class="state"><span id="state">{{item.state}}</span></div>
                                <div class="date_time"><span id="date_time">{{item.date_time}}</span></div>
                            </div>
                            <!--<iron-icon icon$="[[iconForItem(item)]]"></iron-icon>-->
                        </div>
                    </template>
                </template>
            </div>

        </content>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'summary-element',
        properties: {
            icon: String,
            data_name: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
            dropdownValue: {observer: "dropdownValueChanged"},
            rows: {value: []},
            params: Object,
        },
        isEqual: function (a, b) {
            if (a == b) {
                return true;
            } else {
                return false;
            }
        },
        repeatObject: function (item) {
            var items = [];
            if (typeof item == 'object') {
                var count = 0;
                for (var x in item) {
                    items.push([count, x, item[x]]);
                    count++;
                }
            }
            return items;
        },
        ready: function () {


            window.list = this.$.list;
            this.dropdownValue = "";
            this.checked = "";
            this.multi = false;
            this.mode = 'list';
            this.grouped = 'yes';
            this.size = 150; //this.$.slider.value = 150;
            this.data = [];
            this.groups = [];
            this.params['data_name'] = this.data_name;

            var target = this;

            var post_ajax = document.createElement("post-ajax");
            post_ajax.protocol = this.protocol;
            post_ajax.hostname = this.hostname;
            post_ajax.channel = this.channel;
            post_ajax.service = this.service;
            post_ajax.params = this.params;
            post_ajax.channel = this.channel;
            post_ajax.postready = true;
            post_ajax.addEventListener("response-ready", function (e) {
                var payload = e.detail.response;
                target.cols = payload.response.data_source.cols;
                target.rows = payload.response.data_source.rows;
                target.groups = payload.response.data_source.groups;
                target.currentGroups = target.groups;
                target.data = payload.response.data_source.data;
                target.currentData = target.data;

            });

        },

        dropdownValueChanged: function () {
            if (Object.keys(this.rows).length > 0) {
                this.checked = this.rows[this.dropdownValue][0];
            }
        },
        jsonify: function (object) {
            return JSON.stringify(object)
        },
    });
</script>


