<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">

<dom-module id="toggle-element">
    <style>
        :host {
        }

    </style>

    <template>
        <iron-icon icon="[[icon]]" prefix></iron-icon>
        <span>[[title]]</span>
        <paper-toggle-button id="paper_toggle_button" name="[[data_name]]"></paper-toggle-button>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'toggle-element',
        properties: {
            icon: String,
            data_name: String,
            service: String,
            protocol: String,
            hostname: String,
            color: String,
            channel: Number,
            title: String,
            maxlength: Number,
            pattern: String,
            required: Boolean,
        },
        ready: function () {
            this.customStyle['--dark-primary-color'] = this.color;
            this.customStyle['--default-primary-color'] = this.color;
            this.updateStyles();
            /*
             if(service!="checked"){
             this.$.paper_toggle_button.value = "OFF"
             }
             */

        },
    });
</script>


