<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input-error.html">

<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/iron-form-element-behavior/iron-form-element-behavior.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">


<link rel="import" href="x-select.html">
<link rel="import" href="../post-ajax/post-ajax.html">

<dom-module id="msisdn-element">
    <template>
        <style>
            :host {
                display: block;
            }

            /* TODO: This should be a dropdown */
            span {
                @apply(--paper-font-subhead);
                @apply(--paper-input-container-input);
            }

            .country-code {
                width: 40px;
                @apply(--msisdn-element-country-code);
            }

            input {
                @apply(--layout-flex);
            }

            paper-listbox {

            --paper-listbox {
                width: 200px;
            }

            }

            #filter-input {
                width: 100%;
            }

            .dropdown-content {

                background-color: white;
                line-height: 20px;
                border-radius: 3px;
                overflow: visible;
                box-shadow: 0px 2px 6px #ccc;

            }

        </style>
        <input type="hidden" name="{{name}}"/>
        <x-select horizontal-align="left" vertical-align="top" id="xse">

            <paper-input is="iron-input" id="input"
                         aria-labelledby$="[[_ariaLabelledBy]]"
                         aria-describedby$="[[_ariaDescribedBy]]"
                         required$="[[required]]"
                         name$="[[name]]"
                         pattern="{{pattern}}"
                         autocomplete="tel"
                         type="tel"
                         prevent-invalid-input
                         class="dropdown-trigger"
                         label="[[label]]"
                         disabled$="[[disabled]]"
                         invalid="{{invalid}}"
                         autofocus$="[[autofocus]]"
                         inputmode$="[[inputmode]]"
                         placeholder$="[[placeholder]]"
                         readonly$="[[readonly]]"
                         maxlength$="[[maxlength]]"

                         bind-value="{{number}}">

                <span prefix on-tap="_openDropdown" id="msisdn-input-prefix"
                      class="country-code">+[[countryCode]]</span>
            </paper-input>
            <div class="dropdown-content" tabindex="0">
                <input type="text"
                       id="filter-input"
                       value="{{searchCountry::input}}"

                       placeholder="filter"/>

                <div style="height:200px;overflow: auto;"

                >

                    <paper-listbox id="selected-country"
                                   attr-for-selected="data-code"
                                   selected="{{countryCode}}"
                    >

                        <template is="dom-repeat" items="[[rows]]" as="data" filter="{{computeFilter(searchCountry)}}">
                            <paper-item style="height:10px;" data-code="[[data.0]]" on-tap="_countrySelect">[[data.1]]
                                (+[[data.0]])
                            </paper-item>
                        </template>

                    </paper-listbox>
                </div>

            </div>

        </x-select>

    </template>

    <script>
        Polymer({

            is: 'msisdn-element',

            properties: {

                icon: String,
                data_name: String,
                service: String,
                protocol: String,
                hostname: String,
                color: String,
                channel: Number,
                title: String,
                maxlength: Number,
                required: Boolean,
                rows: {
                    type: Array,
                    value: []

                },
                params: {
                    type: Object,
                    value: {}
                },
                element: {
                    type: String,
                    computed: 'computedElementName(data_name)'

                },
                /**
                 * The label for this input.
                 */
                label: {
                    type: String,
                    value: 'Phone number'
                },

                /*
                 * The country code that should be recognized and parsed.
                 */
                countryCode: {
                    type: String,
                    value: '1'
                },

                pattern: {
                    type: String,
                    value: '^[1-9]{1}[0-9]{8,9}$',
                },

                value: {
                    type: String,
                    notify: true
                },

                number: {
                    type: String,
                    observer: '_onValueChanged'
                },

                /**
                 * International format of the input value.
                 *
                 * @type {String}
                 */
                internationalValue: {
                    type: String,
                    computed: '_computeInternationalValue(countryCode, value)'
                }
            },

            observers: [
                '_computeValue(countryCode)'
            ],
            behaviors: [
                Polymer.IronFormElementBehavior
            ],

            computedElementName: function (data_name) {
                var el = data_name.split("=");
                return el[0];
            },
            isEqual: function (a, b) {
                if (a == b) {
                    return true;
                } else {
                    return false;
                }
            },
            repeatObject: function (item) {
                var items = [];
                if (typeof item == 'object') {
                    var count = 0;
                    for (var x in item) {
                        items.push([count, x, item[x]]);
                        count++;
                    }
                }
                return items;
            },

            computeFilter: function (string) {
                if (!string) {
                    // set filter to null to disable filtering
                    return null;
                } else {
                    // return a filter function for the current search string
                    string = string.toLowerCase();
                    return function (country) {

                        var code = country[0] ? country[0].toLowerCase() : "";
                        var name = country[1] ? country[1].toLowerCase() : "";

                        return (code.indexOf(string) != -1 || name.indexOf(string) != -1);
                    };
                }
            },

            ready: function () {
                this.data = [];
                this.groups = [];

                this.params['data_name'] = this.data_name;
                var target = this;


                var post_ajax = document.createElement("post-ajax");
                post_ajax.protocol = this.protocol;
                post_ajax.hostname = this.hostname;
                post_ajax.channel = this.channel;
                post_ajax.service = this.service;
                post_ajax.params = this.params;
                post_ajax.channel = this.channel;

                post_ajax.addEventListener("response-ready", function (e) {
                    var payload = e.detail.response;
                    target.cols = payload.response.data_source.cols;
                    target.rows = payload.response.data_source.rows;
                    target.groups = payload.response.data_source.groups;
                    target.currentGroups = target.groups;
                    target.data = payload.response.data_source.data;
                    target.currentData = target.data;

                });
                post_ajax.postready = true;


            },
            jsonify: function (object) {
                return JSON.stringify(object)
            },

            /**
             * A handler that is called on input
             */
            _onValueChanged: function (value, oldValue) {
                // The initial property assignment is handled by `ready`.
                if (oldValue == undefined || value === oldValue)
                    return;

                //Ensure value is a string
                value = value ? value.toString() : '';


                this.validate();
            },

            /**
             * Overidden from Polymer.PaperInputBehavior.
             */
            validate: function () {
                // Update the container and its addons (i.e. the custom error-message).
                var valid = this.$.input.validate()
                this.invalid = !valid;
                this._computeValue();
                return valid;
            },
            _openDropdown: function (evt) {
                this.$.xse.open();
            },
            _countrySelect: function (evt) {
                this.$.xse.close();
            },
            _computeValue: function () {
                if (this.countryCode && this.number && (!this.invalid)) {
                    this.value = '+' + this.countryCode.trim() + this.number.trim();
                }
            },
            /**
             * Returns the phone number value prefixed by the country code or simply
             * the value if the country code is not set. When    `value` equals
             * "3-44-55-66-77" and the `countryCode` is "33", the `internationalValue`
             * equals "+(33)3-44-55-66-77"
             */
            _computeInternationalValue: function (countryCode, value) {
                return countryCode ? '+(' + countryCode + ')' + value : value;
            }
        });

    </script>

</dom-module>
