<link rel="import" href="mqtt-client-element.html">
<link rel="import" href="ranking-list.html">


<dom-module id="mqtt-list-element">
    <style>
    </style>
    <template>
        <mqtt-client-element id="mqttClient"></mqtt-client-element>
        <ranking-list
                id="ranking"
                icon="check"
                service="DATA SOURCE"
                topic="[[topic]]"
                data_name="bid_ranking"
                media="/media/"
                protocol="https:"
                hostname="bidfather.com"
                channel="1"
                title="Live Bid Ranking"
                color="#137DB9">

        </ranking-list>
        <paper-toast id="toast" text="A Notification!"></paper-toast>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'mqtt-list-element',
        properties: {

            topic: {
                type: String,
                value: "users/uID"
            }
        },
        ready: function () {
            var target = this;
            //target.$.ranking.params = this._computeBid();
            var mqtt = this.$.mqttClient;
            var mqttClient = mqtt.setUp();

            //Gets Called if the connection has sucessfully been established
            mqtt.options.onSuccess = function () {
                mqttClient.subscribe(target.topic);
            };
            //Gets Called if the connection could not be established
            mqtt.options.onFailure = function () {

            };

            mqtt.connect();
            //this.topicsArray.forEach(function (topic) {
            // mqttClient.subscribe(this.topic);
            //});

            //Gets called whenever you receive a message for your subscriptions
            mqttClient.onMessageArrived = function (message) {
                //Do something with the push message you received

                console.log('Topic: ' + message.destinationName + '  | ' + message.payloadString);

                payload = JSON.parse(message.payloadString);

                switch (payload.type) {
                    case 'ranking':

                        target.$.ranking.currentData = payload.data;
                        break;
                    case 'notification':
                        target.$.toast.text = payload.data;
                        target.$.toast.open();
                        break;
                }

            };


        },
        _computeBid: function (topic) {
            return JSON.stringify({"bid_id":topic.split('/')[0]})
        }
    });
</script>


