
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">

<dom-module id="paper-dropdown-menu-filter-shared-styles">
    <template>
        <style>
            :host {
                display: inline-block;
                position: relative;
                text-align: left;

                /* NOTE(cdata): Both values are needed, since some phones require the
                 * value to be `transparent`.
                 */
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-tap-highlight-color: transparent;

                --paper-input-container-input: {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    box-sizing: border-box;
                    cursor: pointer;
                };

                @apply(--paper-dropdown-menu);
            }

            :host([disabled]) {
                @apply(--paper-dropdown-menu-disabled);
            }

            :host([noink]) paper-ripple {
                display: none;
            }

            :host([no-label-float]) paper-ripple {
                top: 8px;
            }

            paper-ripple {
                top: 12px;
                left: 0px;
                bottom: 8px;
                right: 0px;

                @apply(--paper-dropdown-menu-ripple);
            }

            paper-menu-button {
                display: block;
                padding: 0;

                @apply(--paper-dropdown-menu-button);
            }

            paper-input {
                @apply(--paper-dropdown-menu-input);
            }

            iron-icon {
                color: var(--disabled-text-color);

                @apply(--paper-dropdown-menu-icon);
            }
        </style>
    </template>
</dom-module>
