<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="post-service.html">

<dom-module id="post-ajax">
    <template>
        <iron-ajax id="ajax" on-response="handleResponse">
            <iron-ajax>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'post-ajax',
        properties: {
            protocol: String,
            postready: {type: Boolean, observer: 'postreadyChanged'},
            hostname: String,
            service: String,
            params: Object,
            channel: Number,
            handleAs: String,
        },
        handleResponse: function (e) {
            this.fire('response-ready', {response: e.detail.response})
        },
        postreadyChanged: function () {

            this.postAjax();
        },
        ready: function () {

            this.postAjax();

        },
        hashPath: function (str) {
            if (typeof str !== 'string') {
                return {};
            }
            str = str.trim().replace(/^\?/, '');

            if (!str) {
                return {};
            }

            return str.trim().split('&').reduce(function (ret, param) {
                var parts = param.replace(/\+/g, ' ').split('=');
                ret[parts[0]] = parts[1] === undefined ? null : decodeURIComponent(parts[1]);
                return ret;
            }, {});
        },
        postAjax: function () {
            if (this.postready) {
                this.$.ajax.method = 'POST';

                if (this.channel == 1) {
                    /*WEB*/
                    this.$.ajax.headers = {
                        "X-CSRFToken": this.getCSRFCookie(),
                        "X-Requested-With": "XMLHttpRequest",
                    };
                    this.$.ajax.url = this.protocol + '//' + this.hostname + '/GOTO/' + this.service + '/';
                    this.$.ajax.body = JSON.stringify(this.params);
                    this.$.ajax.generateRequest();
                }
                else {
                    /*APP*/
                    var target = this;
                    if (this.channel != 1) {
                        var success = function (message) {

                            target.encrypt = true;
                            var post_service = document.createElement('post-service');
                            post_service.protocol = target.protocol;
                            post_service.hostname = target.hostname;
                            post_service.payload = target.params;
                            post_service.channel = target.channel;
                            post_service.apiKey = message.apiKey;
                            post_service.encrypt = target.encrypt;
                            post_service.addEventListener('ps-ready', function (e) {
                                target.$.ajax.body = JSON.stringify(this.payload);

                                target.$.ajax.url = this.protocol + '//' + this.hostname + '/api/' + target.service + '/';
                                target.$.ajax.generateRequest();
                            });
                        }

                        var failure = function () {
                            alert("Error calling Config Plugin");
                        }

                        //config.greet("World", success, failure);
                    }


                }
            }
        },
        getCSRFCookie: function () {
            b = document.cookie.match('(^|;)\\s*csrftoken\\s*=\\s*([^;]+)');
            return b ? b.pop() : '';
        },

        serializePath: function (obj) {
            result = "";

            for (param in obj)
                result += ( encodeURIComponent(param) + '=' + encodeURIComponent(obj[param]) + '&' );
            if (result) //it's not empty string when at least one key/value pair was added. In such case we need to remove the last '&' char
                result = result.substr(0, result.length - 1); //If length is zero or negative, substr returns an empty string [ref. http://msdn.microsoft.com/en-us/library/0esxc5wy(v=VS.85).aspx]
            return result;
        },

    });
</script>
