<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="post-service">
    <template>
        Post Service Payload: <span>[[payload|jsonify]]</span>
        <iron-ajax id="ajax_service" on-response="handleResponse" handleAs="json"></iron-ajax>
    </template>
    <dom-module>
        <script>
            Polymer({
                is: 'post-service',
                properties: {
                    payload: {type: Object},
                    apiKey: String,
                    protocol: String,
                    hostname: String,
                    channel: String,
                    encrypt: {type: Boolean, observer: 'encryptChanged', notify: true}
                },
                ready: function () {
                    this.lat = null, this.lng = null;

                },
                encryptChanged: function (newValue, oldValue) {
                    if (newValue) {
                        var ajax_service = this.$.ajax_service;
                        ajax_service.url = this.protocol + '//' + this.hostname + '/api/get-my-host/';
                        ajax_service.generateRequest();
                    }

                },
                handleResponse: function (e) {
                    this.host = e.detail.response;
                    var target = this;

                    function onError(error) {
                        target.payload['lat'] = target.host.lat.toFixed(4);
                        target.payload['lng'] = target.host.lng.toFixed(4);
                        target.encryptResponse(e);
                    }

                    function onSuccess(position) {
                        target.payload['lat'] = position.coords.latitude.toFixed(4);
                        target.payload['lng'] = position.coords.longitude.toFixed(4);
                        target.encryptResponse(e);
                    }

                    navigator.geolocation.getCurrentPosition(onSuccess, onError, {
                        maximumAge: 3000,
                        timeout: 5000,
                        enableHighAccuracy: true
                    });
                },
                encryptResponse: function (e) {
                    this.encryption();
                    /**************STARTED ENCRYPTION***************/
                    if (this.encrypt) {
                        /*******INSTANTIATE SECURE PAYLOAD TO PASS*********/
                        this.payload['gateway_host'] = this.hostname;
                        this.payload['CHID'] = this.channel;
                        if (typeof localStorage.getItem('session') !== 'undefined' && localStorage.getItem('session')) {
                            this.payload['SESSION_ID'] = localStorage.getItem('session');
                        }
                        this.payload['ip_address'] = this.host.ip;

                        /**********JOIN INSTANTIATED PAYLOAD TO EXISTING BEFORE ENCRYPT***********/
                        var raw_payload = {};
                        for (var k0 in this.payload) {
                            raw_payload[k0] = this.payload[k0];

                        }
                        /******START ENCRYPT*******/
                        var payload_list = [];
                        if (typeof localStorage.getItem('api_key') !== 'undefined' && localStorage.getItem('api_key')) {
                            var decoded_api_key = this.Base64.decode(localStorage.getItem('api_key').replace(/\\n|\n/g, ""));

                        }
                        else {
                            var decoded_api_key = this.Base64.decode(this.apiKey.replace(/\\n|\n/g, ""));

                        }

                        for (var k0 in raw_payload) {
                            if (typeof raw_payload[k0] !== 'undefined' && k0 !== 'sec_hash' && k0 !== 'credentials' && raw_payload[k0] instanceof Array === false && typeof raw_payload[k0] != 'object') {
                                payload_list.push(k0);
                            }
                        }

                        sorted = payload_list.sort();
                        var p = [];
                        for (var k0 in sorted) {
                            k = sorted[k0] + '=' + String(raw_payload[sorted[k0]]);
                            p.push(k);
                        }

                        var p1 = p.join("&");
                        var hash = this.CryptoJS.HmacSHA256(p1, decoded_api_key);

                        var hashInBase64 = this.CryptoJS.enc.Base64.stringify(hash);
                        this.payload['sec_hash'] = hashInBase64;

                    }
                    /**************END ENCRYPTION***************/

                    this.fire('ps-ready', {});


                },
                jsonify: function (obj) {
                    return JSON.stringify(obj);
                },
                encryption: function () {
                    var CryptoJS = CryptoJS || function (h, s) {
                                var f = {}, g = f.lib = {}, q = function () {
                                }, m = g.Base = {
                                    extend: function (a) {
                                        q.prototype = this;
                                        var c = new q;
                                        a && c.mixIn(a);
                                        c.hasOwnProperty("init") || (c.init = function () {
                                            c.$super.init.apply(this, arguments)
                                        });
                                        c.init.prototype = c;
                                        c.$super = this;
                                        return c
                                    }, create: function () {
                                        var a = this.extend();
                                        a.init.apply(a, arguments);
                                        return a
                                    }, init: function () {
                                    }, mixIn: function (a) {
                                        for (var c in a)a.hasOwnProperty(c) && (this[c] = a[c]);
                                        a.hasOwnProperty("toString") && (this.toString = a.toString)
                                    }, clone: function () {
                                        return this.init.prototype.extend(this)
                                    }
                                }, r = g.WordArray = m.extend({
                                    init: function (a, c) {
                                        a = this.words = a || [];
                                        this.sigBytes = c != s ? c : 4 * a.length
                                    }, toString: function (a) {
                                        return (a || k).stringify(this)
                                    }, concat: function (a) {
                                        var c = this.words, d = a.words, b = this.sigBytes;
                                        a = a.sigBytes;
                                        this.clamp();
                                        if (b % 4)for (var e = 0; e < a; e++)c[b + e >>> 2] |= (d[e >>> 2] >>> 24 - 8 * (e % 4) & 255) << 24 - 8 * ((b + e) % 4); else if (65535 < d.length)for (e = 0; e < a; e += 4)c[b + e >>> 2] = d[e >>> 2];
                                        else c.push.apply(c, d);
                                        this.sigBytes += a;
                                        return this
                                    }, clamp: function () {
                                        var a = this.words, c = this.sigBytes;
                                        a[c >>> 2] &= 4294967295 << 32 - 8 * (c % 4);
                                        a.length = h.ceil(c / 4)
                                    }, clone: function () {
                                        var a = m.clone.call(this);
                                        a.words = this.words.slice(0);
                                        return a
                                    }, random: function (a) {
                                        for (var c = [], d = 0; d < a; d += 4)c.push(4294967296 * h.random() | 0);
                                        return new r.init(c, a)
                                    }
                                }), l = f.enc = {}, k = l.Hex = {
                                    stringify: function (a) {
                                        var c = a.words;
                                        a = a.sigBytes;
                                        for (var d = [], b = 0; b < a; b++) {
                                            var e = c[b >>> 2] >>> 24 - 8 * (b % 4) & 255;
                                            d.push((e >>> 4).toString(16));
                                            d.push((e & 15).toString(16))
                                        }
                                        return d.join("")
                                    }, parse: function (a) {
                                        for (var c = a.length, d = [], b = 0; b < c; b += 2)d[b >>> 3] |= parseInt(a.substr(b, 2), 16) << 24 - 4 * (b % 8);
                                        return new r.init(d, c / 2)
                                    }
                                }, n = l.Latin1 = {
                                    stringify: function (a) {
                                        var c = a.words;
                                        a = a.sigBytes;
                                        for (var d = [], b = 0; b < a; b++)d.push(String.fromCharCode(c[b >>> 2] >>> 24 - 8 * (b % 4) & 255));
                                        return d.join("")
                                    }, parse: function (a) {
                                        for (var c = a.length, d = [], b = 0;
                                             b < c; b++)d[b >>> 2] |= (a.charCodeAt(b) & 255) << 24 - 8 * (b % 4);
                                        return new r.init(d, c)
                                    }
                                }, j = l.Utf8 = {
                                    stringify: function (a) {
                                        try {
                                            return decodeURIComponent(escape(n.stringify(a)))
                                        } catch (c) {
                                            throw Error("Malformed UTF-8 data");
                                        }
                                    }, parse: function (a) {
                                        return n.parse(unescape(encodeURIComponent(a)))
                                    }
                                }, u = g.BufferedBlockAlgorithm = m.extend({
                                    reset: function () {
                                        this._data = new r.init;
                                        this._nDataBytes = 0
                                    }, _append: function (a) {
                                        "string" == typeof a && (a = j.parse(a));
                                        this._data.concat(a);
                                        this._nDataBytes += a.sigBytes
                                    }, _process: function (a) {
                                        var c = this._data, d = c.words, b = c.sigBytes, e = this.blockSize, f = b / (4 * e), f = a ? h.ceil(f) : h.max((f | 0) - this._minBufferSize, 0);
                                        a = f * e;
                                        b = h.min(4 * a, b);
                                        if (a) {
                                            for (var g = 0; g < a; g += e)this._doProcessBlock(d, g);
                                            g = d.splice(0, a);
                                            c.sigBytes -= b
                                        }
                                        return new r.init(g, b)
                                    }, clone: function () {
                                        var a = m.clone.call(this);
                                        a._data = this._data.clone();
                                        return a
                                    }, _minBufferSize: 0
                                });
                                g.Hasher = u.extend({
                                    cfg: m.extend(), init: function (a) {
                                        this.cfg = this.cfg.extend(a);
                                        this.reset()
                                    }, reset: function () {
                                        u.reset.call(this);
                                        this._doReset()
                                    }, update: function (a) {
                                        this._append(a);
                                        this._process();
                                        return this
                                    }, finalize: function (a) {
                                        a && this._append(a);
                                        return this._doFinalize()
                                    }, blockSize: 16, _createHelper: function (a) {
                                        return function (c, d) {
                                            return (new a.init(d)).finalize(c)
                                        }
                                    }, _createHmacHelper: function (a) {
                                        return function (c, d) {
                                            return (new t.HMAC.init(a, d)).finalize(c)
                                        }
                                    }
                                });
                                var t = f.algo = {};
                                return f
                            }(Math);
                    (function (h) {
                        for (var s = CryptoJS, f = s.lib, g = f.WordArray, q = f.Hasher, f = s.algo, m = [], r = [], l = function (a) {
                            return 4294967296 * (a - (a | 0)) | 0
                        }, k = 2, n = 0; 64 > n;) {
                            var j;
                            a:{
                                j = k;
                                for (var u = h.sqrt(j), t = 2; t <= u; t++)if (!(j % t)) {
                                    j = !1;
                                    break a
                                }
                                j = !0
                            }
                            j && (8 > n && (m[n] = l(h.pow(k, 0.5))), r[n] = l(h.pow(k, 1 / 3)), n++);
                            k++
                        }
                        var a = [], f = f.SHA256 = q.extend({
                            _doReset: function () {
                                this._hash = new g.init(m.slice(0))
                            }, _doProcessBlock: function (c, d) {
                                for (var b = this._hash.words, e = b[0], f = b[1], g = b[2], j = b[3], h = b[4], m = b[5], n = b[6], q = b[7], p = 0; 64 > p; p++) {
                                    if (16 > p)a[p] = c[d + p] | 0; else {
                                        var k = a[p - 15], l = a[p - 2];
                                        a[p] = ((k << 25 | k >>> 7) ^ (k << 14 | k >>> 18) ^ k >>> 3) + a[p - 7] + ((l << 15 | l >>> 17) ^ (l << 13 | l >>> 19) ^ l >>> 10) + a[p - 16]
                                    }
                                    k = q + ((h << 26 | h >>> 6) ^ (h << 21 | h >>> 11) ^ (h << 7 | h >>> 25)) + (h & m ^ ~h & n) + r[p] + a[p];
                                    l = ((e << 30 | e >>> 2) ^ (e << 19 | e >>> 13) ^ (e << 10 | e >>> 22)) + (e & f ^ e & g ^ f & g);
                                    q = n;
                                    n = m;
                                    m = h;
                                    h = j + k | 0;
                                    j = g;
                                    g = f;
                                    f = e;
                                    e = k + l | 0
                                }
                                b[0] = b[0] + e | 0;
                                b[1] = b[1] + f | 0;
                                b[2] = b[2] + g | 0;
                                b[3] = b[3] + j | 0;
                                b[4] = b[4] + h | 0;
                                b[5] = b[5] + m | 0;
                                b[6] = b[6] + n | 0;
                                b[7] = b[7] + q | 0
                            }, _doFinalize: function () {
                                var a = this._data, d = a.words, b = 8 * this._nDataBytes, e = 8 * a.sigBytes;
                                d[e >>> 5] |= 128 << 24 - e % 32;
                                d[(e + 64 >>> 9 << 4) + 14] = h.floor(b / 4294967296);
                                d[(e + 64 >>> 9 << 4) + 15] = b;
                                a.sigBytes = 4 * d.length;
                                this._process();
                                return this._hash
                            }, clone: function () {
                                var a = q.clone.call(this);
                                a._hash = this._hash.clone();
                                return a
                            }
                        });
                        s.SHA256 = q._createHelper(f);
                        s.HmacSHA256 = q._createHmacHelper(f)
                    })(Math);
                    (function () {
                        var h = CryptoJS, s = h.enc.Utf8;
                        h.algo.HMAC = h.lib.Base.extend({
                            init: function (f, g) {
                                f = this._hasher = new f.init;
                                "string" == typeof g && (g = s.parse(g));
                                var h = f.blockSize, m = 4 * h;
                                g.sigBytes > m && (g = f.finalize(g));
                                g.clamp();
                                for (var r = this._oKey = g.clone(), l = this._iKey = g.clone(), k = r.words, n = l.words, j = 0; j < h;
                                     j++)k[j] ^= 1549556828, n[j] ^= 909522486;
                                r.sigBytes = l.sigBytes = m;
                                this.reset()
                            }, reset: function () {
                                var f = this._hasher;
                                f.reset();
                                f.update(this._iKey)
                            }, update: function (f) {
                                this._hasher.update(f);
                                return this
                            }, finalize: function (f) {
                                var g = this._hasher;
                                f = g.finalize(f);
                                g.reset();
                                return g.finalize(this._oKey.clone().concat(f))
                            }
                        })
                    })();

                    (function () {
                        var h = CryptoJS, j = h.lib.WordArray;
                        h.enc.Base64 = {
                            stringify: function (b) {
                                var e = b.words, f = b.sigBytes, c = this._map;
                                b.clamp();
                                b = [];
                                for (var a = 0; a < f; a += 3)for (var d = (e[a >>> 2] >>> 24 - 8 * (a % 4) & 255) << 16 | (e[a + 1 >>> 2] >>> 24 - 8 * ((a + 1) % 4) & 255) << 8 | e[a + 2 >>> 2] >>> 24 - 8 * ((a + 2) % 4) & 255, g = 0; 4 > g && a + 0.75 * g < f;
                                                                   g++)b.push(c.charAt(d >>> 6 * (3 - g) & 63));
                                if (e = c.charAt(64))for (; b.length % 4;)b.push(e);
                                return b.join("")
                            }, parse: function (b) {
                                var e = b.length, f = this._map, c = f.charAt(64);
                                c && (c = b.indexOf(c), -1 != c && (e = c));
                                for (var c = [], a = 0, d = 0; d < e; d++)if (d % 4) {
                                    var g = f.indexOf(b.charAt(d - 1)) << 2 * (d % 4), h = f.indexOf(b.charAt(d)) >>> 6 - 2 * (d % 4);
                                    c[a >>> 2] |= (g | h) << 24 - 8 * (a % 4);
                                    a++
                                }
                                return j.create(c, a)
                            }, _map: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/="
                        }
                    })();

                    var Base64 = {
                        _keyStr: "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",
                        encode: function (e) {
                            var t = "";
                            var n, r, i, s, o, u, a;
                            var f = 0;
                            e = Base64._utf8_encode(e);
                            while (f < e.length) {
                                n = e.charCodeAt(f++);
                                r = e.charCodeAt(f++);
                                i = e.charCodeAt(f++);
                                s = n >> 2;
                                o = (n & 3) << 4 | r >> 4;
                                u = (r & 15) << 2 | i >> 6;
                                a = i & 63;
                                if (isNaN(r)) {
                                    u = a = 64
                                } else if (isNaN(i)) {
                                    a = 64
                                }
                                t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a)
                            }
                            return t
                        },
                        decode: function (e) {
                            var t = "";
                            var n, r, i;
                            var s, o, u, a;
                            var f = 0;
                            e = e.replace(/[^A-Za-z0-9\+\/\=]/g, "");
                            while (f < e.length) {
                                s = this._keyStr.indexOf(e.charAt(f++));
                                o = this._keyStr.indexOf(e.charAt(f++));
                                u = this._keyStr.indexOf(e.charAt(f++));
                                a = this._keyStr.indexOf(e.charAt(f++));
                                n = s << 2 | o >> 4;
                                r = (o & 15) << 4 | u >> 2;
                                i = (u & 3) << 6 | a;
                                t = t + String.fromCharCode(n);
                                if (u != 64) {
                                    t = t + String.fromCharCode(r)
                                }
                                if (a != 64) {
                                    t = t + String.fromCharCode(i)
                                }
                            }
                            t = Base64._utf8_decode(t);
                            return t
                        },
                        _utf8_encode: function (e) {
                            e = e.replace(/\r\n/g, "\n");
                            var t = "";
                            for (var n = 0; n < e.length; n++) {
                                var r = e.charCodeAt(n);
                                if (r < 128) {
                                    t += String.fromCharCode(r)
                                } else if (r > 127 && r < 2048) {
                                    t += String.fromCharCode(r >> 6 | 192);
                                    t += String.fromCharCode(r & 63 | 128)
                                } else {
                                    t += String.fromCharCode(r >> 12 | 224);
                                    t += String.fromCharCode(r >> 6 & 63 | 128);
                                    t += String.fromCharCode(r & 63 | 128)
                                }
                            }
                            return t
                        },
                        _utf8_decode: function (e) {
                            var t = "";
                            var n = 0;
                            var r = c1 = c2 = 0;
                            while (n < e.length) {
                                r = e.charCodeAt(n);
                                if (r < 128) {
                                    t += String.fromCharCode(r);
                                    n++
                                }
                                else if (r > 191 && r < 224) {
                                    c2 = e.charCodeAt(n + 1);
                                    t += String.fromCharCode((r & 31) << 6 | c2 & 63);
                                    n += 2
                                } else {
                                    c2 = e.charCodeAt(n + 1);
                                    c3 = e.charCodeAt(n + 2);
                                    t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);
                                    n += 3
                                }
                            }
                            return t
                        }
                    }

                    this.Base64 = Base64;
                    this.CryptoJS = CryptoJS;
                },

            });
        </script>
