<!doctype html>

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <title>paper-dropdown-menu-filter demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../paper-item/paper-item.html">
    <link rel="import" href="../../paper-listbox/paper-listbox.html">
    <link rel="import" href="../../paper-tabs/paper-tabs.html">
    <link rel="import" href="../paper-dropdown-menu-filter.html">
    <link rel="import" href="../paper-dropdown-menu-filter-light.html">

    <style is="custom-style" include="demo-pages-shared-styles">
        paper-tabs {
            width: 400px;
        }

        .vertical-section-container {
            max-width: 500px;
        }

        paper-dropdown-menu-filter {
            width: 200px;
            margin-right: 20px;
        }
    </style>

</head>
<body unresolved>

<dom-module id="x-drop">
    <template>

        <paper-dropdown-menu-filter
                label="Dinosaurs"
                filter="{{filter}}"
                filterplaceholder="Filter Dinosaurs"
                showfilter="[[_shouldShowFilter(items)]]">

            <paper-listbox class="dropdown-content">

                <template is="dom-repeat" items="[[items]]" as="item" filter="{{_computeFilter(filter)}}">
                    <paper-item>[[item]]</paper-item>
                </template>


            </paper-listbox>
        </paper-dropdown-menu-filter>

    </template>

    <script>

        HTMLImports.whenReady(function () {

            Polymer({
                is: 'x-drop',

                properties: {

                    items: Array,
                    states: Array

                },
                ready: function () {
                    this.items = [
                        'allosaurus',
                        'brontosaurus',
                        'carcharodontosaurus',
                        'diplodocus',
                        'ekrixinatosaurus',
                        'fukuiraptor',
                        'gallimimus',
                        'hadrosaurus',
                        'iguanodon',
                        'jainosaurus',
                        'kritosaurus',
                        'liaoceratops',
                        'megalosaurus',
                        'nemegtosaurus',
                        'ornithomimus',
                        'protoceratops',
                        'quetecsaurus',
                        'rajasaurus',
                        'stegosaurus',
                        'triceratops',
                        'utahraptor',
                        'vulcanodon',
                        'wannanosaurus',
                        'xenoceratops',
                        'yandusaurus',
                        'zephyrosaurus'
                    ];
                },
                _computeFilter: function (filterString) {
                    if (!filterString) {
                        // set filter to null to disable filtering
                        return null;
                    } else {
                        // return a filter function for the current search string
                        filterString = filterString.toLowerCase();
                        return function (country) {
                            /*
                             var code = country[0] ? country[0].toLowerCase() : "";
                             var name = country[1] ? country[1].toLowerCase() : "";

                             return (code.indexOf(filterString) != -1 || name.indexOf(filterString) != -1);

                             */
                            return (country.indexOf(filterString) != -1);

                        };
                    }
                },
                _shouldShowFilter: function () {
                    return this.items.length > 10;
                }

            });

        });

    </script>
</dom-module>

<div class="vertical-section-container centered">
    <h4>This is a plain paper-dropdown-menu-filter</h4>
    <demo-snippet class="centered-demo">
        <template>
            <x-drop></x-drop>
        </template>
    </demo-snippet>

</div>
<script>
    document.addEventListener('WebComponentsReady', function () {

    });
</script>
</body>
</html>
