<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-badge/paper-badge.html">


<link rel="import" href="../post-ajax/post-ajax.html">

<link rel="import" href="../shopping-cart/shop-cart-data.html">

<link rel="import" href="shop-cart.html">

<link rel="import" href="shop-checkout.html">
<link rel="import" href="shop-cart-modal.html">

<dom-module id="shopping-cart">
    <style>:host {
    }

    paper-fab {
        background: none;
    }

    .red {
        --paper-badge-background: red;
    }

    paper-dialog.cart-size-position {
        position: fixed;
        top: 0;
        bottom: 60px;
        right: 0;
        width: 100%;
    }

    .cart-button {
        position: fixed;
        bottom: 2%;
        right: 3%;
        z-index: 99;
    }

    p, h2 {
        word-wrap: break-word;
    }</style>
    <template>
        <content>
            <shop-cart-data
                    id="cart"
                    cart="{{cart}}"
                    num-items="{{numItems}}"
                    total="{{total}}">

            </shop-cart-data>

            <!--div class="cart-button">
                <paper-badge class="red" for="paper_fab" label="[[numItems]]"></paper-badge>
                <paper-fab icon="icons:shopping-cart" id="paper_fab" style="background-color:{{color}};"></paper-fab>
            </div-->
            <div class="announcer" aria-live="assertive">[[_a11yLabel]]</div>
            <div id="content">
                <paper-dialog class="cart-size-position" id="shopping_cart_dialog" style="overflow: auto">
                    <iron-pages id="shop_pages" selected="0">
                        <shop-cart cart="[[cart]]" total="[[total]]"></shop-cart>
                        <shop-checkout name="checkout" cart="[[cart]]" total="[[total]]"></shop-checkout>
                    </iron-pages>
                </paper-dialog>
            </div>
        </content>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'shopping-cart',
        properties: {

            csrf_token: String,
            protocol: String,
            hostname: String,
            channel: Number,
            static_url: String,
            media_url: String,
            color: String,
            numItems: {
                type: Number,
                value: 0
            }
        },
        listeners: {
            'add-cart-item': '_onAddCartItem',
            'set-cart-item': '_onSetCartItem',
            'clear-cart': '_onClearCart',
            //'paper_fab.tap': '_openShoppingCartDialog'
            //'change-section': '_onChangeSection',
            //'announce': '_onAnnounce',
            //'dom-change': '_domChange'*/
        },
        ready: function () {
            var target = this;

            //this.$.paper_fab.addEventListener('tap',function(){			});


        },
        _openCheckOutDialog: function () {
            var shopping_cart_dialog = this.$.shopping_cart_dialog;
            this.$.shop_pages.selected = 1;
            shopping_cart_dialog.open();
        },

        _openShoppingCartDialog: function () {
            var item = Polymer.dom(this.$.content);
            //item.innerHTML = "";
            var shopping_cart_dialog = this.$.shopping_cart_dialog;
            //item.appendChild(shopping_cart_dialog);
            this.$.shop_pages.selected = 0;
            shopping_cart_dialog.open();

            shopping_cart_dialog.addEventListener('iron-overlay-closed', function (e) {
                var id = e.currentTarget.id;
                console.log(id + " is closed!");

            });

        },
        getSelector: function (el) {
            var child = el | this;
            var prop = document.body.previousElementSibling ? 'previousElementSibling' : 'previousSibling';
            var path = []; //'#scroller > div:nth-child(8) > div:nth-child(11)'
            var getElementIndex = function (node) {
                var i = 1;
                while (node = node[prop]) {
                    ++i
                }
                return i;
            };
            while (child = child.parentNode && child.nodeName != 'BODY') {
                path.push(child.nodeName + ':nth-child(' + getElementIndex(child) + ')');
            }
            return path.reverse().join('>');
        },
        configureCartItem: function (event) {
            t = event;
            event.detail["location"] = {
                'group': document.querySelector('my-element').group,
                'tab': '',//todo finish
                'selector': this.getSelector(this.parentNode.previousElementSibling) //todo finish
            };
            event.detail['quantity'] = 1;
            event.detail['size'] = 'M';
        },
        _onAddCartItem: function (event) {

            if (!this._cartModal) {
                this._cartModal = document.createElement('shop-cart-modal');
                Polymer.dom(this.root).appendChild(this._cartModal);
            }

            this.configureCartItem(event);

            this.$.cart.addItem(event.detail);
            this._cartModal.entry = event.detail;
            this._cartModal.open();
            this._announce('Item added to the cart');
        },
        _onSetCartItem: function (event) {
            var detail = event.detail;
            this.$.cart.setItem(detail);
            if (detail.quantity === 0) {
                this._announce('Item deleted');
            } else {
                this._announce('Quantity changed to ' + detail.quantity);
            }
        },

        _onClearCart: function () {
            this.$.cart.clearCart();
            this._announce('Cart cleared');
        },
        // Elements in the app can notify a change to be a11y announced.
        _onAnnounce: function (e) {
            this._announce(e.detail);
        },

        // A11y announce the given message.
        _announce: function (message) {
            return; //todo needs more styling of element
            this._a11yLabel = '';
            this.debounce('_a11yAnnouncer', function () {
                this._a11yLabel = message;
            }, 100);
        }
    });
</script>
