<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="shop-common-styles.html">
<link rel="import" href="shop-form-styles.html">
<link rel="import" href="shop-cart-item.html">

<dom-module id="shop-cart">

    <template>

        <style include="shop-common-styles shop-form-styles">

            .list {
                margin: 40px 0;
            }

            .checkout-box {
                font-weight: bold;
                text-align: right;
                margin-right: 10px;
            }

            .subtotal {
                margin: 0 64px 0 24px;
            }

            @media (max-width: 767px) {

                .subtotal {
                    margin: 0 0 0 24px;
                }

            }

        </style>

        <div class="main-frame">
            <div class="subsection" visible$="[[!_hasItems]]">
                <p class="empty-cart">Your
                    <iron-icon icon="shopping-cart"></iron-icon>
                    is empty.
                </p>
            </div>
            <div class="subsection" visible$="[[_hasItems]]">
                <header>
                    <h1>Your Cart</h1>
                    <span>([[_getPluralizedQuantity(cart.length)]])</span>
                </header>
                <div class="list">

                    <template is="dom-repeat" items="[[cart]]" as="entry">
                        <shop-cart-item entry="[[entry]]"></shop-cart-item>
                    </template>
                </div>
                <div class="checkout-box">
                    Total: <span class="subtotal">[[_formatTotal(total,'USD')]]</span>
                    <paper-button on-tap="_openCheckOut" raised>Checkout</paper-button>
                </div>
            </div>
        </div>

    </template>

    <script>

        Polymer({

            is: 'shop-cart',

            properties: {

                total: Number,

                cart: Array,

                visible: {
                    type: Boolean,
                    observer: '_visibleChanged'
                },

                _hasItems: {
                    type: Boolean,
                    computed: '_computeHasItem(cart.length)'
                }

            },
            ready: function () {

            },

            _openCheckOut: function () {
                document.querySelector('shopping-cart')._openCheckOutDialog();
            },

            _formatTotal: function (total, currency) {
                return isNaN(total) ? '' : currency + ' ' + total.toFixed(2);
            },

            _computeHasItem: function (cartLength) {
                return cartLength > 0;
            },

            _getPluralizedQuantity: function (quantity) {
                return quantity + ' ' + (quantity === 1 ? 'item' : 'items');
            },

            _visibleChanged: function (visible) {
                if (visible) {
                    // Notify the section's title
                    this.fire('change-section', {title: 'Your cart'});
                }
            }

        });

    </script>

</dom-module>
