<head>
        <title>Mchaama | Contact Us</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="src/css/main_landing.css" />
        <link rel="import" href="../../src/elements/header-nav.html">
        <link rel="import" href="src/elements/contact-details-element.html">
        <link rel="import" href="bower_components/google-map/google-map.html">
        <link rel="import" href="src/elements/header-nav.html">
        <link rel="import" href="src/elements/footer-element.html">
<!--<script src="../src/js/main.js"></script>-->
<!--<script src="../../bower_components/util.js/util.js"></script>-->

    </head>
    <body>

           
            <div id="page-wrapper">
            <!--<header-nav></header-nav>-->
            <contact-details></contact-details>
            <google-map latitude="-1.260263" longitude="36.805519" fit-to-markers disable-default-ui zoom="15" api-key="AIzaSyARyRUaaBpN3N28eO3VR2gYU8xTxuNW5Yo">
                <google-map-marker latitude="-1.260263" longitude="36.805519"
               draggable="true" title="Welcome to BidFather"></google-map-marker>
            </google-map>
            <footer-element></footer-element>
            </div>
            
    </body>
</html>