<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">

<link rel="import" href="pos-item.html">

<dom-module id="pos-calc">
    <style>
        :host {
            margin: 15px;
        }

        paper-toolbar paper-item {
            width: 100%;
        }

        paper-material paper-item {
            font-size: 18px;
            font-weight: 600em;
        }

        paper-material paper-item span {
            font-size: 18px;
            color: #000;
            padding: 2px;
            margin: 2px;
        }

    </style>
    <template>
        <content>
            <div id="summary">
                <paper-material elevation="1" class="layout vertical end-justified">
                    <paper-item>Sub Total: <span>[[sub_total]]</span></paper-item>
                    <paper-item>Discount: <span>[[discount]]</span></paper-item>
                    <paper-item>Tax: <span>[[tax]]</span></paper-item>
                    <paper-item>Total: <span>[[total]]</span></paper-item>
                </paper-material>

                <paper-toolbar id="paper_toolbar">
                    <paper-item>
                        <paper-item-body>
                            <div>Name</div>
                        </paper-item-body>

                        <paper-item-body>
                            <div>Quantity</div>
                        </paper-item-body>

                        <paper-item-body>
                            <div>Price</div>
                        </paper-item-body>

                        <paper-item-body>
                            <div>Sub Total</div>
                        </paper-item-body>

                        <paper-item-body>
                            <div>&nbsp;</div>
                        </paper-item-body>
                    </paper-item>

                </paper-toolbar>
                <div id="items"></div>
            </div>
        </content>
    </template>
</dom-module>
<script>
    Polymer({
        is: "pos-calc",
        properties: {
            color: String,
            data: {type: Object, observer: 'dataChanged'},
            calc: Object,
        },
        ready: function () {
            this.$.paper_toolbar.style['background-color'] = this.color;
            this.discount = 0.0;

        },
        dataChanged: function () {
            var target = this;
            this.calc = {};
            this.sub_total = 0.0;
            this.tax = 0.0;
            this.total = 0.0;

            var items = this.$.items;
            items.innerHTML = "";
            for (var i in this.data) {
                var a = document.createElement('pos-item');
                a.index = this.data[i].index;
                a.name = "name";
                a.quantity = this.data[i].quantity;
                a.price = this.data[i].price;
                a.vat = 16;
                a.posReady = true;
                items.appendChild(a);

                var calc = {};
                calc['sub_total'] = a.sub_total;
                calc['tax'] = a.tax;
                calc['total'] = a.total;
                this.calc[i] = calc;
                this.calculate();

                a.addEventListener("detail", function (e) {
                    target.calc[e.detail] = this.calc;
                    target.calculate();
                });

                a.addEventListener("delete", function (e) {
                    var new_data = [];
                    for (var i in target.data) {
                        if (target.data[i].index != e.detail) {
                            new_data.push(target.data[i]);
                        }
                    }
                    target.data = new_data;
                    target.calculate();
                    target.fire("alter", target.data);
                });

            }

        },
        calculate: function () {
            this.sub_total = 0.0;
            this.tax = 0.0;
            this.total = 0.0;

            for (var i in this.calc) {
                this.sub_total = parseFloat(parseFloat(this.calc[i].sub_total) + parseFloat(this.sub_total)).toFixed(2);
                this.tax = parseFloat(parseFloat(this.calc[i].tax) + parseFloat(this.tax)).toFixed(2);
                this.total = parseFloat(parseFloat(this.calc[i].total) + parseFloat(this.total)).toFixed(2);
            }

            this.discount = parseFloat(this.discount).toFixed(2);
            this.total = parseFloat(this.total - this.discount).toFixed(2);
        },
        jsonify: function (e) {
            return JSON.stringify(e);
        },

    });
</script>

